
<%= simple_form_for(@grade, html: {class: 'field'}) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Libellé du grade</label>
            <%= f.input :name, label: false, placeholder: 'Libelle du grade' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Description du grade</label>
            <%= f.input :detail, label: false, placeholder: 'Description du grade' %>
          </div>
        </div>
        <!--div class="card-footer text-right">

        </div-->
      </div>
      <div class="text-right">
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
        <input type="reset", class="btn btn-danger" value="Annuler" />
      </div>

    </div>
  </div>

<% end %>
