<% content_for(:title, 'GRADES DU CORPS')%>
<p id="notice"><%= notice %></p>

<h1 class="m-b-40">Grades de police</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Nom grade</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
          <% @grades.each do |grade| %>
            <tr>
              <td><%= grade.name %></td>
              <td><%= grade.detail %></td>
              <td class="text-right"><%= link_to 'Show', grade %></td>
              <td class="text-right"><%= link_to 'Edit', edit_grade_path(grade) %></td>
              <td class="text-right" ><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to new_grade_path, class: 'btn btn-sm btn-primary' do %>
  <i class="fa fa-plus"></i>
  Ajouter un grade
<% end %>
