

<%= link_to 'Ajouter', new_post_commissariat_path, class: 'btn btn-primary btn-sm float-right' %>

<h1>Post Commissariats</h1>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des posts</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <tbody><tr>
            <th>ID</th>
            <th>Region</th>
            <th>Commissariat</th>
            <th>Agent</th>
            <th>Grade</th>
            <th colspan="2">Action</th>
          </tr>
          <% @post_commissariats.each do |post_commissariat| %>
            <tr>
              <td><%= post_commissariat.id %></td>
              <td><%= post_commissariat.commissariat.region.name %></td>
              <td><%= post_commissariat.commissariat.name %></td>
              <td><%= post_commissariat.agent.complete_name %></td>
              <td><%= post_commissariat.grade.name %></td>
              <td><%= link_to 'voir', post_commissariat_path(post_commissariat) %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<br>