<% content_for(:title, 'GRVPC INDENTIFICATION')%>
<!-- titre dans le Yield de application.html.erb -->
<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>
  <!-- Fontfaces CSS-->
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css' %>

  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js' %>
  <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/js/main.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.js' %>

  <!-- CSS files link -->
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/theme.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/font-face.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css' %>


  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/font-face.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/theme.css' %>


  <!-- Main CSS-->
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
</head>

<body class="">
<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <a href="#">
              <%= image_tag('https://cameroon-report.com/wp-content/uploads/2018/09/police_cmr.jpg', size: '500') %>
            </a>
          </div>
          <div class="text-center">
            <small class="lead">E-POLICE 1.0</small>
          </div>
          <div class="login-form">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>

              <div class="form-group">
                <label>Identifiant utilisateur</label>
                <%= f.input :email, required: true, autofocus: true, placeholder: 'Identifiant utilisateur', label: false %>
              </div>
              <div class="form-group">
                <label>Mot de passe</label>
                <%= f.input :password, required: true, placeholder: 'Votre mot de passe', label: false %>
              </div>
              <div class="login-checkbox">
                <label>
                  <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
                </label>
              </div>
              <%= f.button :submit, "Se connecter", class: 'btn btn-primary' %>
            <% end %>
            <!--div class="register-link">
              <p>
                Don't you have account?
                <%= link_to "request account", new_admin_registration_path %>
              </p>
            </div -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>

</html>