<p id="notice"><%= notice %></p>

<h1 class="title is-3">Services</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Type d'alerte concerné</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.detail   %></td>
        <td><%= service.type_id   %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
