<p id="notice"><%= notice %></p>
<%= link_to new_service_path, class: 'btn btn-primary m-b-40' do %>
  <i class="fa fa-plus"></i>
  Ajouter un parternaire
<% end %>
<h1 class="m-b-40">Services partenaires</h1>

<div class="col-lg-12">
  <div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
      <thead>
      <tr>
        <th>Name</th>
        <th>Detail</th>
        <th>Type d'alerte concerné</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.detail   %></td>
            <td><%= service.type_id   %></td>
            <td><%= link_to 'Show', service %></td>
            <td><%= link_to 'Edit', edit_service_path(service) %></td>
            <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to new_service_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus"></i>
  Ajouter un parternaire
<% end %>
