
<%= simple_form_for(@postepolice) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Region d'appartenance</label>
            <%= f.association :region, label: false, prompt: 'Region du poste de police' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Commissariat d'appartenance</label>
            <%= f.association :commissariat, label: false, prompt: 'Commissariat appartenance' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom du poste de police</label>
            <%= f.input :name, placeholder: 'Nom du poste de police', label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Localisation poste de police</label>
            <%= f.input :location, as: :text, placeholder: 'Localisation du poste de police', label: false %>
          </div>
        </div>
        <!--div class="card-footer text-right">
          <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
          <%= link_to 'Annuler', :back, class: 'btn btn-danger' %>
        </div-->
      </div>
      <div class="text-right">
        <%= f.button :submit, 'Valider', class: 'btn btn-primary btn-sm' %>
        <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
      </div>
    </div>
    <!--div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
        </div>
        <!--div class="card-footer text-right">
          <%= f.button :submit, 'Valider', class: 'btn btn-primary' %>
          <%= link_to 'Annuler', :back, class: 'btn btn-danger' %>
        </div-->
      </div>

    </div>
  </div>
<% end %>
