<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @postepolice.region.name %>
</p>

<p>
  <strong>Nom poste police:</strong>
  <%= @postepolice.name %>
</p>

<p>
  <strong>Commissariat</strong>
  <%= @postepolice.commissariat.name if !@postepolice.commissariat_id.nil? %>
</p>

<p>
  <strong>Location:</strong>
  <%= @postepolice.location %>
</p>


<%= link_to 'Edit', edit_postepolice_path(@postepolice) %> |
<%= link_to 'Back', postepolices_path %>
