
<%= simple_form_for(@structure) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <strong>Ajout d'une nouvelle structure partenaire</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom de la structure</label>
          <%= f.input :name, label: false, placeholder: 'Nom de la strcuture partenaire' %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Raison sociale</label>
          <%= f.input :raison, label: false, placeholder: 'Raison sociale de la structure' %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Adresse de la structure</label>
          <%= f.input :adresse, label: false, placeholder: 'Adresse de la structure' %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Region de localisation de la structure</label>
          <%= f.association :region, label: false, prompt: 'Selectionner une Région' %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Logo de la structure partenaire</label>
          <%= f.input :logo, label: false, as: :file %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Document adminstratif de la structure</label>
          <%= f.input :document, label: false, as: :file %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, 'Ajouter cette structure', class: 'btn btn-primary' %>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <strong>Responsable structure partenaire</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom du contact responsable</label>
            <%= f.input :contactname, label: false, placeholder: 'Nom du responsable' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Prénom du contact responsable</label>
            <%= f.input :contantprenom, label: false, placeholder: 'Prenom du responsable' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Numéro telephone du responsable</label>
            <%= f.input :contactphone, as: :tel, label: false, placeholder: 'Téléphone du responsable' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Adresse email responsable</label>
            <%= f.input :contactemail, label: false, placeholder: 'Adresse email reponsable' %>
          </div>
        </form>
      </div>
      <!--div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div-->
    </div>

    <div class="card">
      <div class="card-header">
        <strong>Utilisateur 01</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Nom</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Prenom</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Email</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Numéro téléphone</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Poste occupé</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-password" class=" form-control-label">Password</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control">
              <span class="help-block">Please enter your password</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-password" class=" form-control-label">Photo</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control">
              <span class="help-block">Please enter your password</span>
            </div>
          </div>
        </form>
      </div>
      <!--div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div-->
    </div>

    <div class="card">
      <div class="card-header">
        <strong>Utilisateur 02</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Nom</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Prenom</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Email</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Numéro téléphone</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-email" class=" form-control-label">Poste occupé</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control">
              <span class="help-block">Please enter your email</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-password" class=" form-control-label">Password</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control">
              <span class="help-block">Please enter your password</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="hf-password" class=" form-control-label">Photo</label>
            </div>
            <div class="col-12 col-md-9">
              <input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control">
              <span class="help-block">Please enter your password</span>
            </div>
          </div>
        </form>
      </div>
      <!--div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div-->
    </div>
  </div>
<% end %>

<span class="help-block">Please enter your email</span>
