<p id="notice"><%= notice %></p>

<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Partenaires
</h1>

<table class="table table-borderless table-striped table-earning" id="table">
  <thead>
    <tr>
      <th>Raison sociale</th>
      <th>Activité</th>
      <th>Region</th>
      <th>Téléphone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @structures.each do |structure| %>
      <tr>
        <td><%= image_tag(structure.logo, size: '75x75') if structure.logo.attached? %></td>
        <td><%= structure.name %></td>
        <td><%= structure.raison %></td>
        <td><%= structure.region.name %></td>
        <td><%= structure.phonestructure %></td>
        <td><%= structure.email %></td>
        <td><%= link_to 'Show', structure %></td>
        <td><%= link_to 'Edit', edit_structure_path(structure) %></td>
        <td><%= link_to 'Destroy', structure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_structure_path, class: 'btn btn-primary' do %>
  <%= fa_icon 'plus' %>
  Ajouter un partenaire
<% end %>
