<p id="notice"><%= notice %></p>
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Detail structure <%= @structure.name %>
</h1>

<p>
  <strong>Name:</strong>
  <%= @structure.name %>
</p>

<p>
  <strong>Raison:</strong>
  <%= @structure.raison %>
</p>

<p>
  <strong>Email structure:</strong>
  <%= @structure.email %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @structure.adresse %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @structure.contactname %>
</p>

<p>
  <strong>Contantprenom:</strong>
  <%= @structure.contantprenom %>
</p>

<p>
  <strong>Contactphone:</strong>
  <%= @structure.contactphone %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @structure.contactemail %>
</p>

<p>
  <strong>Region:</strong>
  <%= @structure.region.name %>
</p>

<p class="m-b-40">
  <strong>Mot de passe:</strong>
  <%= @structure.pwd %>
</p>

<p class="m-b-40">
  <strong>Logo:</strong>

</p>

<%= link_to structures_path, class: 'btn btn-primary' do %>
  <i class="fa fa-arrow-left"></i>
  Retour
<% end %>
 |
<%= link_to edit_structure_path(@structure), class: 'btn btn-primary' do %>
  <i class="fa fa-edit"></i>
  Modifier
<% end %>
