<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Gestion d'utilisateurs
</h1>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Langue et communication</h5>
        <h6 class="card-subtitle mb-2 text-muted">ajouter ou modifier les langues</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Langues', access_systeme_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Solution de paiement</h5>
        <h6 class="card-subtitle mb-2 text-muted">Ajouter des solutions de paiements</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', access_systeme_path, class: 'card-link' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Systeme</h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration de la plateforme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', access_systeme_path, class: 'card-link' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Systeme</h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration de la plateforme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', access_systeme_path, class: 'card-link' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
