<% content_for(:title, 'DASHBOARD ADMIN EPOLICE')%>
<p id="notice"><%= notice %></p>

<h1 class="m-b-40">
  <%= link_to access_open_path do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Gestion des utilisateurs
</h1>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Administrateurs</h5>
        <h6 class="card-subtitle mb-2 text-muted">Utilsateur administrateur</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Consulter', parametre_admins_admin_show_path, class: 'card-link' %>
        <%= link_to 'Ajouter', nil, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Partenaires</h5>
        <h6 class="card-subtitle mb-2 text-muted">Agents partenaire</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Consulter', parametre_admins_member_show_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agent recouvrement</h5>
        <h6 class="card-subtitle mb-2 text-muted">Agent de recouvremenet</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Consulter', parametre_admins_metropolis_show_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assurances</h5>
        <h6 class="card-subtitle mb-2 text-muted">Agent assurances</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Consulter', parametre_admins_assurance_show_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- USER DATA-->
  <div class="user-data m-b-30 col-sm-12">
    <h3 class="title-3 m-b-30">
      <i class="zmdi zmdi-account-calendar"></i>Données utilisateurs</h3>
    <div class="table-responsive table-data">
      <table class="table">
        <thead>
        <tr>
          <td>
            <label class="au-checkbox">
              <input type="checkbox">
              <span class="au-checkmark"></span>
            </label>
          </td>
          <td>name</td>
          <td>phone</td>
          <td>role</td>
          <td>type</td>
          <td>action</td>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <% @admin.each do |admin| %>
          <tr>
            <td>
              <label class="au-checkbox">
                <input type="checkbox">
                <span class="au-checkmark"></span>
              </label>
            </td>
            <td>
              <div class="table-data__info">
                <h6><%= admin.name %>&nbsp; <%= admin.prenom %></h6>
                <span>
                    <%= link_to admin.email, nil %>
                </span>
              </div>
            </td>
            <td>
              <%= admin.phone %>
            </td>
            <td>
              <%= link_to admin.role.name, nil, class: "role #{admin.role.name}" %>
            </td>
            <td>
              <div class="rs-select2--trans rs-select2--sm">
                <select class="js-select2" name="property">
                  <option selected="selected">Full Control</option>
                  <option value="">Post</option>
                  <option value="">Watch</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </td>
            <td>
              <div class="rs-select2--trans rs-select2--sm">
                <select class="js-select2" name="property">
                  <option selected="selected">Bloquer</option>
                  <option value="">Changer MDP</option>
                  <option value="">Envoyer un message</option>
                  <option value="">Supprimer</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </td>
            <td>
              <span class="more">
                  <i class="zmdi zmdi-more"></i>
              </span>
            </td>
          </tr>
        <% end %>
        <% Metropoli.all.each do |admin| %>
          <tr>
            <td>
              <label class="au-checkbox">
                <input type="checkbox">
                <span class="au-checkmark"></span>
              </label>
            </td>
            <td>
              <div class="table-data__info">
                <h6>No Names for now</h6>
                <span>
                    <%= link_to admin.email, nil %>
                </span>
              </div>
            </td>
            <td>
              <%= admin.phone %>
            </td>
            <td>
              <%= link_to 'Centre recouvrement', nil, class: "role user" %>
            </td>
            <td>
              <div class="rs-select2--trans rs-select2--sm">
                <select class="js-select2" name="property">
                  <option selected="selected">Full Control</option>
                  <option value="">Post</option>
                  <option value="">Watch</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </td>
            <td>
              <div class="rs-select2--trans rs-select2--sm">
                <select class="js-select2" name="property">
                  <option selected="selected">Bloquer</option>
                  <option value="">Changer MDP</option>
                  <option value="">Envoyer un message</option>
                  <option value="">Supprimer</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
            </td>
            <td>
              <span class="more">
                  <i class="zmdi zmdi-more"></i>
              </span>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="user-data__footer">
      <button class="au-btn au-btn-load">load more</button>
    </div>
  </div>
  <!-- END USER DATA-->
</div>

