<h1 class="m-b-40"><%= fa_icon 'bookmark' %> Groupement régional de la voie publique et de la circulation</h1>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">GRVPC</h5>
        <h6 class="card-subtitle mb-2 text-muted">Region, departement et arrondissement</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', groupements_path, class: 'card-link' %>
        &nbsp;
        <%= link_to 'Ajouter', new_groupement_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Postes de polices</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gestion des postes de police</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', postepolices_path, class: 'card-link' %>
        &nbsp;
        <%= link_to 'Ajouter', new_postepolice_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bulletin de patrouille</h5>
        <h6 class="card-subtitle mb-2 text-muted">Region, departement et arrondissement</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', parametre_bulletin_patrouille_path, class: 'card-link' %>
        &nbsp;
        <%= link_to 'Ajouter', new_affectation_path, class: 'card-link' %>
      </div>
    </div>
  </div>
</div>