<h1>
  Gestion des données
</h1>
  <p class="m-b-40">
    Gestion du fichier de données de base de la plateforme
  </p>

<div class="row">
  <div class="col-md-3">
      <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Découpage administratif', parametre_localisation_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'GRVPC', groupements_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Commissariat', commissariats_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Grades de police', grades_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Effectifs de police', agents_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Partenaires', parametre_gestion_sturcture_partenaire_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Types Infractions', infractions_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>


  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Elements à retenir', pieceretenus_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>


  <div class="col-md-3">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title">
          <%= link_to 'Types Evenements', types_path, class: 'text-dark' %>
        </h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        The body of the card
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

</div>

