<h1><i class="fa fa-cogs"></i> Parametre</h1>
<p>Find me in app/views/parametre/index.html.erb</p>
<div class="row">
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('map.jpeg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion localisation</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Configurer', parametre_localisation_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion des unités du personnel</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', unites_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_unite_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion du personnel</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir les agents', agents_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter agent', new_agent_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Motifs de contravention</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir les motifs', infractions_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter motif', new_infraction_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Pieces retenues de contravention</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', pieceretenus_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_pieceretenu_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion des partenaires</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', services_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_service_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= link_to image_tag('bg-title-01.jpg', class: 'card-img-top'), "#" %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion des commissariats</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', commissariats_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_commissariat_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion des GRVPC</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', groupements_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_groupement_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <%= image_tag('bg-title-01.jpg', class: 'card-img-top') %>
      <div class="card-body">
        <h4 class="card-title mb-3">Gestion des types d'evenement</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-footer text-right">
        <%= link_to 'Voir', types_path, class: 'card-title mb-3 btn btn-outline-primary' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_type_path, class: 'card-title mb-3 btn btn-outline-primary' %>
      </div>
    </div>
  </div>
</div>
