<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Configuration de la localisation
</h1>
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Regions', regions_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', regions_path, class: 'card-link' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_region_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Departements', departements_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Departements dans les régions</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', departements_path, class: 'card-link' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_departement_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Arrondissement', arrondissements_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Arrondissements des departements</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Aperçu', arrondissements_path, class: 'card-link' %>
        &nbsp;&nbsp;
        <%= link_to 'Ajouter', new_arrondissement_path, class: 'card-link' %>
      </div>
    </div>
  </div>
</div>