<h1 class="m-b-40" style="margin-bottom: 40px;">
  Découpage administratif
</h1>

<div class="row">
  <div class="col-md-3 col-sm-6 col-12">
    <%= link_to regions_path, class: 'text-dark' do %>
      <div class="info-box">
      <span class="info-box-icon bg-info-gradient"><i class="fa fa-star"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">
          <h5>Régions</h5>
        </span>
        <span class="info-box-number"><%= Region.all.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <% end %>
    <!-- /.info-box -->
  </div>
  <div class="col-md-3 col-sm-6 col-12">
    <%= link_to departements_path, class: 'text-dark' do %>
    <div class="info-box">
      <span class="info-box-icon bg-success-gradient"><i class="fa fa-star"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Départements</span>
        <span class="info-box-number"><%= Departement.all.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <% end %>
    <!-- /.info-box -->
  </div>
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-danger-gradient"><i class="fa fa-star"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Arrondissements</span>
        <span class="info-box-number"><%= Arrondissement.all.count %></span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
</div>