<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning table-borderless table-active">
        <thead>
        <tr>
          <th>Nom & prénom</th>
          <th>Phone</th>
          <th>Région</th>
          <th>Valid.</th>
          <th colspan="1"></th>
        </tr>
        </thead>
        <tbody>
        <% @agent.each do |agent| %>
          <tr>
            <td><%= agent.complete_name %></td>
            <td><%= agent.phone %></td>
            <td><%= agent.region.name if !agent.region_id.nil? %></td>
            <td>

            </td>
            <td>
              <%= link_to 'Voir', agent, class: 'btn btn-sm btn-primary' %> &nbsp;
              <%= link_to 'ecrire', nil, class: 'btn btn-sm btn-primary' %>
              <%= link_to nil, class: 'btn btn-sm btn-danger' do %>
                <i class="fa fa-trash"></i>
                Suspendre
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>