
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Liste des alertes
</h1>

<div class="text-right">
  <%= link_to new_alerte_path, class: 'btn btn-sm btn-primary' do %>
    <%= fa_icon 'plus' %>
    Nouvelle alerte
  <% end %>
</div>

<div class="m-b-40">

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table id="table" class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>#</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Date</th>
          <th>Statut</th>
          <th colspan="3">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @alertes.each do |alerte| %>
          <tr>
            <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
            <td>
              <%= alerte.titre %>
            </td>
            <td>
              <%= truncate(alerte.description.html_safe, lenght: 10) %>
            </td>
            <td>
              <%= alerte.created_at %>
            </td>
            <td>
              <%= link_to alerte.statu.name, nil, class: 'btn btn-sm btn-danger disabled' if !alerte.statu_id.nil? %>
            </td>
            <td>
              <%= link_to "Voir", alerte_path(alerte) %>
            </td>
            <td>
              <%= link_to "Supprimer", alerte, method: :delete, data: {confirm: "Supprimer cette alerte : #{alerte.code}"}, class: 'btn btn-sm btn-danger disabled' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>