<%= link_to :back, class: 'button is-link is-outlined' do %>
  <i class="fa fa-arrow-left noir"></i>
  Retourner
<% end %>
<hr style="background-color: #000;">
<h1 class="subtitle is-3"><i class="fa fa-calendar-o noir"></i> Liste d'alertes pour le mois, <%= 30.days.ago.strftime("%d/%m/%Y") %> au <%= Date.today.strftime("%d/%m/%Y") %>
</h1>
<hr style="background-color: #000;">
<hr style="background-color: #b9b7b7;" />
<div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Liste d'alertes pour le mois
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="false" style="color: #000000;"></i>
          </span>
        </a>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <tbody>
              <% if @mois.nil? %>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td class="subtitle is-3"><i class="fa fa-bell-slash-o" style="color: #000000;"></i> Aucunes alertes pour le moment.</td>
                </tr>
              <% else %>
                <% @mois.each do |alerte| %>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
                    <td>
                      <%= alerte.created_at.strftime("%B %d, %Y") %>
                    </td>
                    <td>
                      <%= alerte.titre %>
                    </td>
                    <td>
                      <%= link_to  "Détail", alerte_path(alerte), class: "button is-small is-link is-outlined" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        
      </footer>
    </div>
</div>
