<h1 class="subtitle is-3"><i class="fa fa-building-o" style="color: #000000;"></i> Alertes organisées par ville</h1>
<hr style="background-color: #b9b7b7;" />
<% @ville.each do |item| %>
    <%= link_to "/villes/ville/#{item}/show", class: 'button is-link is-outlined' do %>
        <i class="fa fa-building-o noir"></i>
        <%= Ville.find(item).name %>
    <% end %>
<% end %>
<hr style="background-color: #b9b7b7;" />
<div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Liste d'alertes pour pour les villes
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fa fa-angle-down" aria-hidden="false" style="color: #000000;"></i>
          </span>
        </a>
      </header>
      <div class="card-table">
        <div class="content">
          <table class="table is-fullwidth is-striped">
            <thead>
              <tr class="is-selected">
                <td><i class="fa fa-bell noir"></i></td>
                <td><i class="fa fa-calendar noir"></i> Date</td>
                <td><i class="fa fa-edit noir"></i> Libellé</td>
                <td><i class="fa fa-building-o noir"></i> Ville</td>
                <td><i class="fa fa-hand-pointer-o noir"></i> Action</td>
              </tr>
            </thead>
            <tbody>
              <% if @region.nil? %>
                <tr>
                  <td width="5%"><i class="fa fa-bell-o"></i></td>
                  <td class="subtitle is-3"><i class="fa fa-bell-slash-o" style="color: #000000;"></i> Aucunes alertes pour le moment.</td>
                </tr>
              <% else %>
                <% @region.each do |alerte| %>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
                    <td>
                      <%= alerte.created_at.strftime("%B %d, %Y") %>
                    </td>
                    <td>
                      <%= alerte.titre %>
                    </td>
                    <td>
                      <%= link_to "/villes/ville/#{alerte.ville_id}/show" do %>
                        <i class="fa fa-building-o" style="color: #000000;"></i>
                        <%= alerte.ville.name %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to  "Détail", '#', class: "button is-small is-link is-outlined" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        
      </footer>
    </div>
</div>

