<% content_for(:title, 'ALERTES NON RESOLUES')%>
<!-- -->
<div class="overview-wrap m-b-40">
  <h2 class="title-1">Alertes non résolues</h2>
  <%= link_to "#", class: "btn btn-primary" do %>
    <i class="zmdi zmdi-chart-donut"></i>
    Statistiques
  <% end %>
</div>
<hr style="background-color: #b9b7b7;" />
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>date</th>
          <th>order ID</th>
          <th>name</th>
          <th class="text-right">price</th>
          <th class="text-right">quantity</th>
          <th class="text-right">total</th>
        </tr>
        </thead>
        <tbody>
        <% @query.each do |alerte| %>
          <tr>
            <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
            <td>
              <%= alerte.created_at.strftime("%B %d, %Y") %>
            </td>
            <td>
              <%= alerte.titre %>
            </td>
            <td>
              <%= alerte.agent.name %>&nbsp;<%= alerte.agent.prenom %>
            </td>
            <td>
              <%= alerte.ville.name %>
            </td>
            <td>
              <%= link_to  "Détail", alerte_path(alerte), class: "button is-small is-link is-outlined" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="overview-wrap m-b-40">
  <h2 class="title-1">&nbsp;</h2>
  <%= link_to "#", class: "btn btn-primary" do %>
    <i class="zmdi zmdi-chart-donut"></i>
    Statistiques
  <% end %>
</div>
