
<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :title %>

    <%= f.input :content, as: :text %>

    <%= f.association :alerte, prompt: 'Selectionner une alerte', collection: Alerte.all.map {|alerte| [alerte.titre, alerte.id]}, include_blank: false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, nil, class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
