
<%= simple_form_for(@convocation) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :code, label: "Code de creation", input_html: { value: @code, readonly: true } %>
        <%= f.input :cni, label: "Numero CNI" %>
        <%= f.input :phone, label: "Numéro de téléphone" %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :prenom, label: "Prénom" %> 
        <%= f.input :an, label: "Année de naissance", as: :date, html5: true, placeholder: "Selectionner année naissance" %>
        <%= f.input :sexe, collection: ["Feminin", "Masculin"], prompt: "Selectionner un sexe" %>
        <%= f.input :immatriculation, label: "N° Immatriulation", placeholder: "Numéro d'immatriculation" %>
        <%= f.input :ville, label: "Ville", collection: ["Douala", "Yaoundé", "Garoua", "Maroua", "Bafoussam"], prompt: "Selectionner une ville" %>
        <%= f.input :quartier, label: "Quartier" %>
        <%= f.input :rue, label: "N° rue ou description", as: :text %>
        <%= f.input :residence, label: "Lieu dit", as: :text %>
        <%= f.input :emploi, label: "Emploi occupé", as: :text %>

        <%= f.input :observation, label: "Observation sur le conducteur", as: :text %>
        <%= f.input :pieceretenue, label: "Pieces retenue", collection: ["Permis de conduire", "Carte Grise", "Aucune"], prompt: "Selctionner une piece retenue" %>
        <%= f.input :infraction_id, collection: [["Vol de véhicule",1.to_i], ["Pas d'extincteur",2.to_i]], label: "Infraction",  prompt: "Selectionner une infraction" %>
        <%= f.input :status, label: "Statut", collection: [["Impayé","impaye"], ["Payé","paye"]], prompt: "Selectionner un statut" %>
        <%= f.association :agent, label: "Agent verbaliseur ", prompt: "Selectionner l'agent" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>

<% end %>
