
<%= simple_form_for(@convocation) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :cni, label: "Numero CNI" %>
        <%= f.input :phone, label: "Numéro de téléphone" %>
        <%= f.input :name, label: "Nom" %>
        <%= f.input :prenom, label: "Prénom" %>
        <%= f.input :jour, collection: 1..31, label: "Date naissance" %> 
        <%= f.input :mois, collection: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"], prompt: "Selectionner un mois" %> 
        <%= f.input :an, label: "Année", collection: 1960..2018, prompt: "Selectionner année naissance" %>
        <%= f.input :sexe, collection: ["Feminin", "Masculin"], prompt: "Selectionner un sexe" %>
        <%= f.input :immatriculation, label: "N° Immatriulation" %>
        <%= f.input :ville, label: "Ville", collection: ["Douala", "Yaoundé", "Garoua", "Maroua", "Bafoussam"], prompt: "Selectionner une ville" %>
        <%= f.input :quartier, label: "Quartier" %>
        <%= f.input :rue, label: "N° rue ou description", as: :text %>
        <%= f.input :residence, label: "Lieu dit", as: :text %>
        <%= f.input :emploi, label: "Emploi occupé", as: :text %>
        <%= f.association :infraction, as: :check_boxes, label_method: :motif, prompt: "Selectionner une infraction" %>
        <%= f.input :observation, label: "Observation sur le conducteur", as: :text %>
        <%= f.input :pieceretenue, label: "Pieces retenue", collection: ["Permis de conduire", "Carte Grise", "Aucune"], prompt: "Selctionner une piece retenue" %>
        <%= f.input :status, label: "Statut", collection: [["Impayé","impaye"], ["Payé","paye"]], prompt: "Selectionner un statut" %>
        <%= f.association :agent, label: "Agent verbaliseur ", prompt: "Selectionner l'agent" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>

<% end %>
