<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Plateforme administration</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Carrefours</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Gestion des carrefours', '#', style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Contraventions</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Gestion des contraventions', convocations_path, style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make .</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Gestion des Agents', agents_path, style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Groupement</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Gestion des groupement', '#', style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Statistiques et rapports</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Statistiques et rapports', '#', style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Utilisateurs</div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to 'Gestion des Utilisateurs', '#', style: "color: #FFF;" %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>