<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
</main>