<p id="notice"><%= notice %></p>

<h1 class="m-b-40">
  Centres du partenaire
</h1>

<br>
<%= link_to new_centrepartenaire_path, class: 'btn btn-primary float-right' do %>
  <i class="fa fa-plus"></i>
  Ajouter
<% end %>

<br>
<br>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des centres des partenaires</h3>

      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover" id="tableRegion">
          <thead>
          <tr>
            <th>#</th>
            <th>Region</th>
            <th>Département</th>
            <th>Arrondissement</th>
            <th>Libellé centre</th>
            <th>Structure responsable</th>
            <th>Localisation</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @centrepartenaires.each do |centrepartenaire| %>
            <tr>
              <td><%= fa_icon 'star' %></td>
              <td><%= centrepartenaire.region.name %></td>
              <td><%= centrepartenaire.departement.name %></td>
              <td><%= centrepartenaire.arrondissement.name %></td>
              <td><%= centrepartenaire.nom %></td>
              <td><%= centrepartenaire.structure.name %></td>
              <td><%= centrepartenaire.localisation %></td>
              <td>
                <div class="dropdown float-right">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to centrepartenaire, class: 'dropdown-item' do %>
                      <%= fa_icon 'eye' %>
                      Voir
                    <% end %>
                    <%= link_to edit_centrepartenaire_path(centrepartenaire), class: 'dropdown-item' do %>
                      <%= fa_icon 'edit' %>
                      Editer
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'share' %>
                      Envoyer un mail à <%= centrepartenaire.name %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'envelope' %>
                      Message au responsable <%= centrepartenaire.nom %>
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'phone' %>
                      SMS au responsable
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'lock' %>
                      Bloquer <%= centrepartenaire.name %>
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'times' %>
                      Supprimer
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'plus' %>
                      Autres fonctionnalités
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<br>


