<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.name %>
</p>

<p>
  <strong>Structure:</strong>
  <%= @centrepartenaire.structure.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.region.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.departement.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.arrondissement.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.localisation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.prenom %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.fonction %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.phone %>
</p>

<p>
  <strong>Name:</strong>
  <%= @centrepartenaire.email %>
</p>

<%= link_to 'Edit', edit_centrepartenaire_path(@centrepartenaire) %> |
<%= link_to 'Back', centrepartenaires_path %>
