
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand" style="margin-left: 20px;" href="#">
    <%= image_tag('police.png', size: 25) %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Applications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Alertes', grvpc_all_alertes_path, class: 'dropdown-item' %>
          <%= link_to 'Constats', grvpc_all_constats_path, class: 'dropdown-item' %>
          <%= link_to 'Contraventions', grvpc_all_contraventions_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bulletin de patrouille
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to 'Liste', affectations_path, class: 'dropdown-item' %>
          <%= link_to 'Nouveau', new_affectation_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vous avez 04 notification(s) en attente." title="Notifications e-Police">
          Notifications <span class="badge badge-light">4</span>
        </a>
      </li>
      <li class="nav-item">
        <%= link_to 'Archivage & transmission', archive_index_path, class: 'nav-link' %>
      </li>
    </ul>

    <span class="navbar-text" style="margin-right: 20px;">
      <div class="dropdown">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_grvpc.email %>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item text-dark" href="#">Action</a>
          <%= link_to 'Mon compte', edit_grvpc_registration_path, class: 'dropdown-item text-dark' %>
          <a class="dropdown-item text-dark" href="#">Mon compte</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'Se déconnecter', destroy_grvpc_session_path, method: :delete, class: 'dropdown-item text-dark' %>
        </div>
      </div>
    </span>
  </div>
</nav>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>