<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'http://getbootstrap.com/favicon.ico' %>

  <title><%= full_title(yield :title)%></title>

  <!-- Bootstrap core CSS -->
  <%= stylesheet_link_tag 'http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.1.0/js/all.js', media: 'all' %>

  <!-- Custom styles for this template -->
  <%= stylesheet_link_tag 'http://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css' %>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.slim.min.js' %>
  <%= javascript_include_tag 'http://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js' %>

  <%= javascript_include_tag 'http://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'https://unpkg.com/feather-icons/dist/feather.min.js' %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js' %>
</head>

<body>
  <!-- navbar render here -->
  <%= render 'layouts/grvpc/menu' %>

<div class="container-fluid">
  <div class="row">
    <!-- side bar -->
    <%= render 'layouts/grvpc/left_menu' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <nav aria-label="breadcrumb" style="margin-top: 20px;">
        <ol class="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => " / " %>
        </ol>
      </nav>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard GRVPC</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <a href="#" class="btn btn-sm btn-outline-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="calendar"></span>
            This week
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
  </div>
</div>
<script>
    feather.replace()
</script>

<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
</body>
</html>