  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= full_title(yield :title)%></title>

    <!-- Fontfaces CSS-->
    <link href="https://colorlib.com/polygon/cooladmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="https://colorlib.com/polygon/cooladmin/css/theme.css" rel="stylesheet" media="all">

  </head>

  <body class="animsition" style="animation-duration: 900ms; opacity: 1;">
  <div class="page-wrapper">
    <div class="page-content--bge5">
      <div class="container">
        <div class="login-wrap">
          <div class="login-content">
            <div class="login-logo">
              <a href="#">
                <%= image_tag('https://cameroon-report.com/wp-content/uploads/2018/09/police_cmr.jpg', size: '500') %>
              </a>
            </div>
            <div class="login-form">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="form-group">
                  <label>Identifiant utilisateur</label>
                  <%= f.input :email, required: true, autofocus: true, placeholder: 'Identifiant utilisateur', label: false %>
                </div>
                <div class="form-group">
                  <label>Mot de passe</label>
                  <%= f.input :password, required: true, placeholder: 'Votre mot de passe', label: false %>
                </div>
                <div class="login-checkbox">
                  <label>
                    <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
                  </label>
                </div>
                <div class="text-right">
                  <%= f.button :submit, "Se connecter", class: 'btn btn-primary' %>
                </div>
              <% end %>
              <% if Admin.nil? %>
                <div class="register-link">
                  <p>
                    Don't you have account?
                    <%= link_to "request account", new_admin_registration_path %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </body>
  <!-- Jquery JS-->
  <script src="https://colorlib.com/polygon/cooladmin/vendor/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/popper.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="https://colorlib.com/polygon/cooladmin/vendor/slick/slick.min.js">
  </script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/wow/wow.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
  </script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/counter-up/jquery.waypoints.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/counter-up/jquery.counterup.min.js">
  </script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/circle-progress/circle-progress.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/chartjs/Chart.bundle.min.js"></script>
  <script src="https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.js"></script>
  </html>
  <!-- end document-->

