<p id="notice"><%= notice %></p>

<h1>Contravetions</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Motif</th>
      <th>Status</th>
      <th>Agent</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contravetions.each do |contravetion| %>
      <tr>
        <td><%= contravetion.token %></td>
        <td><%= contravetion.motif %></td>
        <td><%= contravetion.status %></td>
        <td><%= contravetion.Agent.name %></td>
        <td><%= contravetion.User.name %></td>
        <td><%= link_to 'Show', contravetion %></td>
        <td><%= link_to 'Edit', edit_contravetion_path(contravetion) %></td>
        <td><%= link_to 'Destroy', contravetion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contravetion', new_contravetion_path %>
