<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>
  <!-- Fontfaces CSS-->
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css' %>

  <!-- Bootstrap CSS-->
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css' %>

  <!-- Vendor CSS-->
  <%= stylesheet_link_tag  'https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.css' %>
  <%= stylesheet_link_tag  'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/wow/animate.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/css-hamburgers/hamburgers.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/slick/slick.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css' %>

  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/font-face.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/theme.css' %>


  <!-- Main CSS-->
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/jquery-3.2.1.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/popper.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/chartjs/Chart.bundle.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/js/main.js' %>
</head>
<body>
<div class="page-wrapper">
  <div class="page-content--bge5">
    <div class="container">
      <div class="login-wrap">
        <div class="login-content">
          <div class="login-logo">
            <%= image_tag("https://cameroon-report.com/wp-content/uploads/2018/09/police_cmr.jpg", size: '400') %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>