
<%= simple_form_for(@infraction) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Ajout d'un nouveau motif de contravention</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Motif</label>
          <%= f.input :motif, label: false, placeholder: 'Nom du motif a creer' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Montant</label>
          <%= f.input :montant, label: false, placeholder: 'Cout du motif' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Source juridique</label>
          <%= f.input :source, as: :text, label: false, placeholder: 'Source juridiqueCout du motif' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Zone de couverture</label>
          <%= f.association :zonecouverturemotif, label: false, prompt: 'Selectionner la zone de couverture' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Région d'application</label>
          <%= f.association :region, label: false, prompt: 'Selectionner la zone/région d application', selected: 'Centre' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Departement d'application</label>
          <%= f.association :departement, label: false, prompt: 'Selectionner la zone/département d application', selected: 'Mfoundi' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Arrondissement d'application</label>
          <%= f.association :arrondissement, label: false, prompt: 'Selectionner la zone/arrondissement d application', selected: 'Yaounde V' %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
