<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Motif</th>
      <th>Montant</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @infractions.each do |infraction| %>
      <tr>
        <td><%= infraction.motif %></td>
        <td><%= infraction.montant %></td>
        <td><%= link_to 'Show', infraction %></td>
        <!-- <td><%= link_to 'Edit', edit_infraction_path(infraction) %></td>
        <td><%= link_to 'Destroy', infraction, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Infraction', new_infraction_path %>
