<p id="notice"><%= notice %></p>
<%= link_to new_infraction_path, class: 'btn btn-primary m-b-40' do %>
  <i class="fa fa-plus"></i>
  Nouvelle Motif d'infraction
<% end %>
<h1 class="m-b-40">Motifs d'infraction</h1>
<div class="row">
  <div class="col-lg-9">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Classe</th>
          <th>Motif</th>
          <th>Montant</th>
          <th>Source Juridique</th>
          <th>Zone couverture</th>
          <th>Region</th>
          <th>Departement</th>
          <th>Arrondissement</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @infractions.each do |infraction| %>
          <tr>
            <td><%= infraction.classe %></td>
            <td><%= infraction.motif %></td>
            <td><%= infraction.montant %></td>
            <td><%= infraction.source %></td>
            <td><%= infraction.zonecouverturemotif_id %></td>
            <td><%= infraction.region.name if !infraction.region_id.nil? %></td>
            <td><%= infraction.departement.name if !infraction.departement_id.nil? %></td>
            <td><%= infraction.arrondissement.name if !infraction.arrondissement_id.nil? %></td>

            <td><%= link_to 'Show', infraction %></td>
            <td><%= link_to 'Edit', edit_infraction_path(infraction) %></td>
            <td><%= link_to 'Destroy', infraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<%= link_to new_infraction_path, class: 'btn btn-primary' do %>
  <i class="fa fa-plus"></i>
  Nouvelle Motif d'infraction
<% end %>
