<% content_for(:title, 'ALERTES NON RESOLUES')%>
<!-- -->
<div class="overview-wrap m-b-40">
  <h2 class="title-1">Alertes non résolues</h2>
  <%= link_to "#", class: "btn btn-primary" do %>
    <i class="zmdi zmdi-chart-donut"></i>
    Statistiques
  <% end %>
</div>
<hr style="background-color: #b9b7b7;" />
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Phone</th>
          <th >Agent</th>
          <th >Pieces retenues</th>
          <th >&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @all.each do |alerte| %>
          <tr>
            <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
            <td>
              <%= alerte.created_at.strftime("%B %d, %Y") %>
            </td>
            <td>
              <%= alerte.phone %>
            </td>
            <td>
              <%= alerte.agent.name %>&nbsp;<%= alerte.agent.prenom %>
            </td>
            <td>
              <%= alerte.pieceretenu.name if !alerte.pieceretenu_id.nil? %>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="overview-wrap m-b-40">
  <h2 class="title-1">&nbsp;</h2>
  <%= link_to "#", class: "btn btn-primary" do %>
    <i class="zmdi zmdi-chart-donut"></i>
    Statistiques
  <% end %>
</div>
