
<%= simple_form_for(@arrondissement) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Ajout d'un nouveau département</strong>
      </div>

      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom de l'arrondissement</label>
          <%= f.input :name, label: false, placeholder: 'Nom de l arrondissement' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Selectionner une région</label>
          <%= f.association :region, label: false, prompt: 'Selectionner une région' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Selectionner un département</label>
          <%= f.association :departement, label: false, prompt: 'Selectionner un département' %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
