<% content_for(:title, 'TOUTES LES CONTRAVENTIONS')%>
<br>
<div class="title is-3">
  Liste de toutes les infractions de la circulation
</div>
<br>
<div class="row">
  <div class="col-sm">
    <table class="table table-striped table-hover" id="table">
      <theader class="thead-dark">
        <tr height="50">
          <td>#</td>
          <td>Date création</td>
          <td>Imm.</td>
          <td>Motif</td>
          <td>Agent</td>
          <td>Action</td>
        </tr>
      </theader>
      <tbody>
      <% @contravention.each do |a| %>
        <tr>
          <td width="5%"><i class="fa fa-bell-o"></i></td>
          <td><%= a.created_at %></td>
          <% if a.immatriculation.nil? %>
            <td class="has-background-grey"><%= a.immatriculation  %></td>
          <% else %>
            <td><%= a.immatriculation  %></td>
          <% end %>
          <td><%= a.infraction.motif if !a.infraction_id.nil? %></td>
          <td><%= a.agent.name %>&nbsp,<%= a.agent.prenom %></td>
          <td><a class="button is-small is-link is-outlined" href="#">Action</a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready( function () {
        $('#table').DataTable();
        $('#delete').click(function(){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        })
    } );
</script>