<% content_for(:title, 'DASHBOARD TOUTES LES ALERTES')%>
<div class="title is-3">
  Liste de toutes les alertes
</div>
<br>
<div class="row">
  <div class="col-sm">
    <table class="table table-hover table-striped" id="table">
      <thead class="thead-dark">
      <tr height="50">
        <td>#</td>
        <td>Date création</td>
        <td>Titre</td>
        <td>Agent</td>
        <td>Action</td>
      </tr>
      </thead>
      <tbody>
      <% @alerte.each do |a| %>
        <tr>
          <td width="5%"><i class="fa fa-bell-o"></i></td>
          <td><%= a.created_at %></td>
          <td><%= a.titre %></td>
          <td><%= a.agent.name %>&nbsp,<%= a.agent.prenom %></td>
          <td>
            <div class="dropdown show">
              <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Detail', "/grvpc/alertes/#{a.id}/detail", class: 'dropdown-item' %>
                <a class="dropdown-item" href="#">Commenter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" id="delete">Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready( function () {
        $('#table').DataTable();
        $('#delete').click(function(){
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Your imaginary file has been deleted!", {
                            icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
        })
    } );
</script>