<% content_for(:title, "DASHBOARD #{@alerte.titre}")%>
<div style="margin-bottom: 40px;">
  <h1>
    <i class="fa fa-file-word"></i>&nbsp;Detail alerte <%= @alerte.titre %>
  </h1>
</div>
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        <strong>Normal</strong> Form
      </div>
      <div class="card-body card-block">
          <div class="form-group">
            <label for="nf-email" class=" form-control-label">Date creation</label>
            <input type="text" readonly value="<%= @alerte.created_at %>" class="form-control">
          </div>
          <div class="form-group">
            <label for="nf-password" class=" form-control-label">Titre</label>
            <input type="text" class="form-control" value="<%= @alerte.titre %>" readonly>
          </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="btn btn-danger btn-sm">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-header">
        <strong>Commentaires  de <%= current_grvpc.email %></strong>
      </div>
      <div class="card-body card-block">
          <div class="form-group">
            <label for="nf-email" class=" form-control-label">Votre commentaire</label>
            <%= render 'comments/new' %>
          </div>
          <div class="form-group">
            <label for="nf-password" class=" form-control-label">Les autres commentaires</label>
            <ul class="list-group">
              <% Alerte.find(@alerte.id).comment.each do |comment| %>
                <% if comment.nil? %>
                  <p>
                    Aucun commentaire trouvé
                  </p>
                <% else %>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <%= image_tag('police.png', size: 30, class: 'img-thumbnail', title: comment.publisher || 'Utilisateur inconnu' ) %>&nbsp;<%= link_to comment.title, comment_path(comment.id) %>
                    <span class="badge badge-primary badge-pill">
                      <%= comment.created_at %>
                    </span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>