<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zonecouverturemotif.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @zonecouverturemotif.detail %>
</p>

<%= link_to 'Edit', edit_zonecouverturemotif_path(@zonecouverturemotif) %> |
<%= link_to 'Back', zonecouverturemotifs_path %>
