<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @workflow.status %>
</p>

<p>
  <strong>Document:</strong>
  <%= @workflow.document %>
</p>

<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
