<%= simple_form_for(@carrefour) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :quartier %>
    <%= f.input :image %>
    <%= f.input :description, as: :text %>
    <%= f.association :ville, prompt: "Selectionner une ville" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
  </div>
<% end %>
