<p id="notice"><%= notice %></p>

<h1 class="title is-2">Liste des Carrefours</h1>
<h1 class="subtitle is-5">Afficher la liste des carrefours enregistré dans le système</h1>

<table class="table" id="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quartier</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrefours.each do |carrefour| %>
      <tr>
        <td><%= carrefour.name %></td>
        <td><%= carrefour.quartier %></td>
        <td><%= carrefour.image %></td>
        <td><%= carrefour.description %></td>
        <td><%= link_to 'Show', carrefour %></td>
        <td><%= link_to 'Edit', edit_carrefour_path(carrefour) %></td>
        <td><%= link_to 'Destroy', carrefour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrefour', new_carrefour_path, class: 'button is-link is-outlined' %>