
<%= simple_form_for(@type) do |f| %>
  <%= f.error_notification %>

  <div class="control">
    <%= f.input :name, label: "Nom du type", input_html: {class: 'input is-large'} %>
    <hr>
    <%= f.input :description, as: :text, input_html: {class: 'input is-large', rows: '20' } %>
    <hr>
    <%= f.association :service, prompt: "Selectionner un service", input_html: {class: 'dropdown', style: 'margin-bottom: 80px;'} %>
    <hr class="">
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'creer un type' %>
  </div>
<% end %>
