
<%= simple_form_for(@type) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom type evenement</label>
          <%= f.input :name, placeholder: 'Nom type evenement', label: false %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Description type évenement</label>
          <%= f.input :description, as: :text, placeholder: 'Description type evenement', label: false %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Partenaires concernés</label>
          <%= f.input :entity, collection: Structure.all.collect { |x| [x.name, x.id]}, as: :check_boxes, label: false, input_html: {style: 'margin: 20px;', checked: "checked"}, include_blank: false, multiple: true %> <br>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
        <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
      </div>
    </div>
  </div>
<% end %>
