<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @user.prenom %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @user.sexe %>
</p>

<p>
  <strong>Cartegrise:</strong>
  <%= @user.cartegrise %>
</p>

<p>
  <strong>Immatriculation:</strong>
  <%= @user.immatriculation %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
