<%= form_tag controller: :access, action: :admin_new, method: :post do %>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>Edition de l'utilisateur <%= @admin.email %></strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom</label>
            <%= text_field_tag :name, nil, class: 'form-control', value: @admin.name %>
          </div>
          <div class="form-group">
            <label for="vat" class=" form-control-label">Prenom</label>
            <%= text_field_tag :prenom, nil, class: 'form-control', value: @admin.prenom %>
          </div>
          <div class="form-group">
            <label for="vat" class=" form-control-label">Numéro de téléphone</label>
            <%= telephone_field_tag :phone, nil, class: 'form-control', value: @admin.phone %>
          </div>
          <div class="form-group">
            <label for="street" class=" form-control-label">adresse email</label>
            <%= email_field_tag :email, nil, class: 'form-control', value: @admin.email, readonly: true %>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="street" class=" form-control-label">Mot de passe</label>
            <%= password_field_tag :password, nil, class: 'form-control', value: @admin.password %>
          </div>
          <div class="form-group">
            <label for="street" class=" form-control-label">Confirmer mot de passe</label>
            <%= password_field_tag :password_confirmation, nil, class: 'form-control', value: @admin.password_confirmation %>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="street" class=" form-control-label">role</label>
              <%= select_tag :role_id, options_from_collection_for_select(Role.all, 'id', 'name') , class: 'form-control', prompt: 'Selectionner un role', include_blank: false %>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right">
        <%= submit_tag 'Mettre à jour', class: 'btn btn-sm btn-primary' %>
        <input type="reset" class="btn btn-sm btn-danger" value="Annuler">
      </div>

    </div>
  </div>

<% end %>