<%= form_tag( action: 'search_document') do %>
    <div class="field">
        <div class="control">
        <%= label_tag ("Téléphone, CNI, Immatriculation, ") %></td>
        <%= text_field_tag :input, "", class: 'input is-large', require: true, placeholder: "Entre le numéro de téléphone ou le code" %>
    </div>
    <div class="field">
        <label class="radio">
        <%= radio_button_tag 'type','cni', true %>
        <i class="fa fa-address-card-o" style="color: #000000;"></i>
        CNI
        </label>
        <label class="radio">
        <%= radio_button_tag 'type','immatriculation' %>
        <i class="fa fa-automobile" style="color: #000000;"></i>
        Immatriculation
        </label>
        <label class="radio">
        <%= radio_button_tag 'type','telephone' %>
        <i class="fa fa-phone" style="color: #000000;"></i>
        Téléphone
        </label>
        <label class="radio">
        <%= radio_button_tag 'type','code' %>
        <i class="fa fa-code" style="color: #000000;"></i>
        Code
        </label>
    </div>
    </div>
        <tr>
        <td>&nbsp;</td>
        <td><%= submit_tag "Rechercher", class: 'button is-block is-info is-large is-fullwidth' %></td>
        </tr>
    </table>                                                                                                                                                                                                                                                                                                                              
<% end %>