<%= link_to new_admin_registration_path, class: 'btn btn-primary m-b-40' do %>
  <i class="fa fa-plus"></i>
  Ajouter un administrateur
<% end %>
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Administrateur & décideurs
</h1>

<div class="row">
  <div class="col-lg-12">
    <h2 class="title-1 m-b-25">Administrateur enregistré</h2>
    <div class="table-responsive table--no-card m-b-40">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Photo</th>
          <th>Email</th>
          <th>Date ajout</th>
          <th>Date de mise à jour</th>
          <th>Role</th>
          <th>Téléphone</th>
        </tr>
        </thead>
        <tbody>
        <% @user.each do |user| %>
          <tr>
            <th><%= image_tag(user.avatar) if user.avatar.attached? %></th>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td><%= user.updated_at %></td>
            <td><%= user.role.name %></td>
            <td><%= user.phone %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= link_to nil, class: 'btn btn-primary m-b-40' do %>
  <i class="fa fa-plus"></i>
  Ajouter un administrateur
<% end %>

<%= form_tag controller: :access, action: :admin_new, method: :post do %>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Nouvel administrateur/décideur</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom</label>
          <input type="text" id="company" placeholder="Enter your company name" class="form-control">
          <%= text_field_tag :name, nil, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label for="vat" class=" form-control-label">Prenom</label>
          <input type="text" id="vat" placeholder="DE1234567890" class="form-control">
        </div>
        <div class="form-group">
          <label for="street" class=" form-control-label">adresse email</label>
          <input type="text" id="street" placeholder="Enter street name" class="form-control">
        </div>
        <div class="row form-group">
          <div class="col-8">
            <div class="form-group">
              <label for="city" class=" form-control-label">Mot de passe</label>
              <input type="text" id="city" placeholder="Enter your city" class="form-control">
            </div>
          </div>
          <div class="col-8">
            <div class="form-group">
              <label for="postal-code" class=" form-control-label">Confirmer mot de passe</label>
              <input type="text" id="postal-code" placeholder="Postal Code" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="country" class=" form-control-label">Role</label>
        </div>
      </div>
    </div>
  </div>


  <%= submit_tag 'Enregistrer', class: 'btn btn-sm btn-primary' %>
<% end %>