<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Etats de la plateforme</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<ul class="nav justify-content-end" style="margin-bottom: 2rem;">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<div class="row">
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-xl-3 col-sm-4">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">
        <i class="fa fa-map"></i>&nbsp;<%= link_to 'Découpage administratif', parametre_localisation_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Regions, departements et arrondissements</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_localisation_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', nil, class: 'card-link btn btn-sm btn-outline-primary', data: { toggle: 'modal', target: '#exampleModalLong'} %>
      </div>
    </div>
  </div>
</div>