<% content_for(:title, 'IDENTIFIEZ-VOUS')%>
<!-- titre dans le Yield de application.html.erb -->
<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey"><%= image_tag("http://lequatriemepouvoir.com/wp-content/uploads/2018/08/download-5.jpeg", size: 200) %> <br> E-POLICE</h3>
          <p class="subtitle has-text-grey">Plateforme de gestion des contraventions, alertes et constats d'accident de la circulation</p>
          <p class="subtitle has-text-grey is-6">Merci de fournir vos identifications de connexion.</p>
            <div class="box" style="margin-top: -10px;">
              <% if member_signed_in? %>
                <%= link_to "Se déconnecter", destroy_member_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif admin_signed_in? %>
                <%= link_to "Se déconnecter", destroy_admin_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif  metropoli_signed_in? %>
                <%= link_to "Se déconnecter", destroy_metropoli_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif grvpc_signed_in? %>
                <%= link_to "Se déconnecter", destroy_grvpc_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif assurance_signed_in? %>*
                <%= link_to "Se déconnecter", destroy_assurance_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% else %>
                <%= link_to "DGSN", new_admin_session_path, class: 'button is-outlined is-link is-fullwidth is-block is-large' %>
                <br>
                <%= link_to "GRVPC", new_grvpc_session_path, class: 'button is-outlined is-link is-fullwidth is-block is-large' %>
                <br>
                <%= link_to "PARTENAIRES", new_member_session_path, class: 'button is-outlined is-link is-fullwidth is-block is-large' %>
                <br>
                <%= link_to "ASSURANCES", new_assurance_session_path, class: 'button is-outlined is-link is-fullwidth is-block is-large' %>
                <br>
                <%= link_to "COMMUNAUTE URBAINE", new_metropoli_session_path, class: 'button is-outlined is-link is-fullwidth is-block is-large' %>
                </div>
                </div>
                </div>
              <% end %>
            </div>
          </section>
  </div>
</div>