<% content_for(:title, 'IDENTIFIEZ-VOUS')%>
<!-- titre dans le Yield de application.html.erb -->
<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey"></h3>
          <p class="subtitle has-text-grey">Plateforme de gestion des contraventions, <br>des alertes et des constats d'accident de la circulation</p>
          <p class="subtitle has-text-grey is-6 m-b-30"></p>
            <div class="box" style="margin-top: -10px;">
              <% if member_signed_in? %>
                <%= link_to "Se déconnecter", destroy_member_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif admin_signed_in? %>
                <%= link_to "Se déconnecter", destroy_admin_session_path, method: :delete, class: 'card-link' %>
                <%= link_to "Accueil", nil, class: 'card-link text-right' %>
                <% elsif  metropoli_signed_in? %>
                <%= link_to "Se déconnecter", destroy_metropoli_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif grvpc_signed_in? %>
                <%= link_to "Se déconnecter", destroy_grvpc_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif assurance_signed_in? %>*
                <%= link_to "Se déconnecter", destroy_assurance_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% else %>
                Pour acceder à e-Police, <%= link_to 'cliquez ici', new_admin_session_path, class: 'm-b-20' %> <br>
                Pour en savoir plus sur e-Police, <%= link_to 'cliquez ici', access_about_path , class: 'm-b-20' %>
                  <div class="row">
                    <div class="col text-center">
                      <%= link_to new_grvpc_session_path, class: 'noir' do %>
                        <i class="fa fa-podcast"></i>
                      <% end %>
                    </div>
                    <div class="col text-center">2</div>
                    <div class="col text-center">3</div>
                    <div class="col text-center">4</div>
                    <div class="col text-center">5</div>
                  </div>
                </div>
                </div>
                </div>
              <% end %>
            </div>
          </section>
  </div>
</div>