<% content_for(:title, 'IDENTIFIEZ-VOUS')%>
<!-- titre dans le Yield de application.html.erb -->
<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey"></h3>
          <p class="subtitle has-text-grey">Plateforme de gestion des contraventions, alertes et constats d'accident de la circulation</p>
          <p class="subtitle has-text-grey is-6 m-b-30"></p>
            <div class="box" style="margin-top: -10px;">
              <% if member_signed_in? %>
                <%= link_to "Se déconnecter", destroy_member_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif admin_signed_in? %>
                <%= link_to "Se déconnecter", destroy_admin_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif  metropoli_signed_in? %>
                <%= link_to "Se déconnecter", destroy_metropoli_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif grvpc_signed_in? %>
                <%= link_to "Se déconnecter", destroy_grvpc_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% elsif assurance_signed_in? %>*
                <%= link_to "Se déconnecter", destroy_assurance_session_path, method: :delete, class: 'button is-outlined is-danger is-fullwidth is-block is-large' %>
                <% else %>
                <% @container.each_with_index  do |data, index| %>
                  <%= link_to data, "/home/services/selected/#{data.downcase}/www" , class: 'btn btn-outline-primary btn-block btn-lg m-b-20' %>
                <% end %>
                <%= link_to 'About', access_about_path , class: 'btn btn-outline-primary btn-block btn-lg m-b-20' %>
                </div>
                </div>
                </div>
              <% end %>
            </div>
          </section>
  </div>
</div>