<div class="notice"> <%= notice %></div>
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey"><%= image_tag("http://lequatriemepouvoir.com/wp-content/uploads/2018/08/download-5.jpeg", size: 200) %> <br> E-POLICE</h3>
          <p class="subtitle has-text-grey">Plateforme de gestion des contraventions, alertes et constats d'accident de la circulation</p>
          <p class="subtitle has-text-grey is-6">Merci de fournir vos identifications de connexion.</p>
            <div class="box" style="margin-top: -10px;">
              <%= form_tag( action: 'attemp_login') do %>
                <div class="field">
                  <div class="control">
                    <%= label_tag ("Matricule") %></td>
                    <%= text_field_tag :matricule, "", placeholder: "Votre adresse email", class: 'input is-large noir' %>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <%= label_tag ("Mot de passe") %></td>
                    <%= password_field_tag :pwd, "", class: 'input is-large' %>
                  </div>
                </div>
                <div class="field">
                  <label class="checkbox">
                    <%= check_box_tag (:checked) %>
                    Se souvenir de moi
                  </label>
                </div>
                  <tr>
                    <td>&nbsp;</td>
                    <td><%= submit_tag "Se connecter", class: 'button is-block is-info is-large is-fullwidth' %></td>
                  </tr>
                </table>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
              <% end %>
                </div>
                  <p class="has-text-grey">
                    <%= link_to  "Demander un compte", access_request_auth_account_path %>&nbsp;·&nbsp;
                    <%= link_to  "Mot de passe oublié", "#" %>&nbsp;·&nbsp;
                    <%= link_to  "Aide", access_request_docs_path %>
                  </p>
                </div>
              </div>
            </div>
          </section>
  </div>
</div>