<% content_for(:title, 'AJOUTER UNE PARTENAIRE')%>
<!-- titre dans le Yield de application.html.erb -->

<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Nouveau compte
</h1>

<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<%= simple_form_for access_member_new_path do |f| %>
  <% f.error_notification %>
  <div class="row">
    <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <strong>&nbsp;</strong>
          </div>
          <div class="card-body card-block">
            <div class="form-group">
              <label for="company" class=" form-control-label">Selectionner le partenaire</label>
              <%= f.input :service_id, collection: Structure.all, label: false, prompt: 'Selectionner le partenaire', require: true %>
            </div>
          </div>
          <div class="card-body card-block">
            <div class="form-group">
              <label for="company" class=" form-control-label">Selectionner le centre</label>
              <%= f.input :service_id, collection: Centrepartenaire.all, label: false, prompt: 'Selectionner le centre', require: true %>
            </div>
          </div>

          <div class="card-body card-block">
            <div class="form-group">
              <label for="company" class=" form-control-label">Localisation du centre</label>
              <%= f.input :service_id, collection: Centrepartenaire.pluck(:localisation), label: false, prompt: 'Selectionner le partenaire', readonly: true %>
            </div>
          </div>


          <!-- div class="card-footer">
            <%= f.button :submit, 'Ajouter ce partenaire', class: 'btn btn-primary btn-sm' %>
          </div -->
        </div>
      </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Matricule</label>
            <%= f.input :matricule, label: false, placeholder: 'Adresse email partenaires', require: true %>
          </div>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom</label>
            <%= f.input :nom, label: false, placeholder: 'Adresse email partenaires', require: true %>
          </div>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Prénom</label>
            <%= f.input :prenom, label: false, placeholder: 'Adresse email partenaires', require: true %>
          </div>
        </div>


        <!--div class="card-footer">
          <%= f.button :submit, 'Ajouter ce partenaire', class: 'btn btn-primary btn-sm' %>
        </div-->
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Fonction</label>
            <%= f.input :fonction, label: false, placeholder: 'Adresse email partenaires', require: true %>
          </div>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Numéro de téléphone</label>
            <%= f.input :phone, as: :tel, label: false, placeholder: 'Numéro de téléphone principal', require: true %>
          </div>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Adresse email</label>
            <%= f.input :email, as: :email, label: false, placeholder: 'Adress email', require: true %>
          </div>
        </div>


        <!--div class="card-footer">
          <%= f.button :submit, 'Ajouter ce partenaire', class: 'btn btn-primary btn-sm' %>
        </div-->
      </div>
      <div class="text-right">
        <%= f.button :submit, 'creer', class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Annuler', :back, class: 'btn btn-danger btn-sm' %>
      </div>
      <br>
      <div class="text-right">
        <%= link_to 'Ajouter un utilisateur', nil, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
<% end %>