<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>
  <!-- Fontfaces CSS-->
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>

  <!-- Main CSS-->
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">E-POLICE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fichier <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edition</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <h1>Service publique de la police</h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
  <div class="row" style="margin-bottom: 5rem; margin-top: 2rem;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <form action="" class="form-control">
        <input type="text" class="form-control-lg" placeholder="Rechercher">
      </form>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center">
            <i class="fa fa-calendar fa-5x"></i>
            <p class="lead text-center">
              Titre service
            </p>

          </p>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
        </div>
        <div class="card-footer">
          <%= link_to 'Action', nil, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center">
            <i class="fa fa-car fa-5x"></i>
            <p class="lead text-center">
              Service contravention
            </p>

          </p>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
        </div>
        <div class="card-footer">
          <%= link_to 'Action', nil, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center">
            <i class="fa fa-id-card fa-5x"></i> <br>
            Action/service name
          </p>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
        </div>
        <div class="card-footer">
          <%= link_to 'Action', nil, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" style="width: 18rem; height: 18rem;">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text text-center">
            <i class="fa fa-print fa-5x"></i>
            <p class="lead text-center">
              Imprimer
            </p>
          </p>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
        </div>
        <div class="card-footer">
          <%= link_to 'Action', nil, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </div>
  </div>

</main><!-- /.container -->

</body>

</html>