<div class="container">
<section class="hero is is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-grey">Demande de compte</h3>
          <p class="subtitle has-text-grey">Saisir les informations sur votre demande de creation de compte, vous serez notifier par email/telephone de la creation du dit compte.</p>
            <div class="box">
              <figure class="avatar">
                <%= image_tag("logo.png", size: 128, title: "DGSN") %>
                <%= image_tag("logo.png", size: 128, title: "ENEO") %>
                <%= image_tag("logo.png", size: 128, title: "CAMWATER") %>
                <%= image_tag("logo.png", size: 128, title: "COMMUNAUTE URBAINE") %>
              </figure>
              
              <%= simple_form_for(new_access_path) do |f| %>
                <%= f.error_notification %>

                <div class="control">
                  <%= f.input :name, label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 100px;'}, input_html: {class: 'input is-large'} %>
                  <%= f.input :prenom, placeholder: "Decrivez l'alerte ici", label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 30px;'}, input_html: {class: 'input is-large'} %>
                  <%= f.input :phone, label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 30px;'}, input_html: {class: 'input is-large'} %>
                  <%= f.input :password, label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 30px;'}, input_html: {class: 'input is-large'} %>
                  <%= f.input :password_confirmation, label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 30px;'}, input_html: {class: 'input is-large'} %>
                  <%= f.input :role %>
                  <%= f.input :email, label: "Decrire le lieu", as: :text, label_html: {class: 'label is-3', style: 'margin-bottom: 20px; margin-top: 70px;'}, input_html: {class: 'input is-large'} %>
                  
                </div>

                <div class="form-actions">
                  <%= f.button :submit, 'Envoyer la demande', class: 'button is-primary' %>
                </div>
              <% end %>
                </div>
                  <p class="has-text-grey">
                    <%= link_to  "Politique de confidentialité", "#" %>&nbsp;·&nbsp;
                    <%= link_to  "Annuler", root_path %>&nbsp;·&nbsp;
                  </p>
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
</div>