<p class="title">
	<%= @title %>
</p> 
<hr style="background-color: rgba(56,56,56,0.73);">

<table class="table is-fullwidth is-striped">
  <thead>
      <tr>
          <td>Date</td>
          <td>CNI</td>
          <td>Statut</td>
          <td>phone</td>
          <td>Statut</td>
          <td>Montant</td>
          <td>Action</td>
      </tr>
  </thead>
  <tbody>
    <% if @query.nil? %>
      <tr>
        <td width="5%"><i class="fa fa-bell-o"></i></td>
        <td class="subtitle is-3"><i class="fa fa-bell-slash-o" style="color: #000000;"></i> Aucunes alertes pour le moment.</td>
      </tr>
    <% else %>
      <% @query.each do |alerte| %>
        <tr>
          <td>
            <%= alerte.created_at.strftime("%B %d, %Y") %>
          </td>
          <td>
            <%= link_to alerte.cni, "/search/documents/by_cni/#{alerte.cni}/search" %>
          </td>l
          <td>
            <%= alerte.infraction.motif if !alerte.infraction_id.nil? %>
          </td>
          <td>
            <%= alerte.phone %>
          </td>
          <td>
            <%= alerte.status %>
          </td>
          <td>
            <%= alerte.infraction.montant if !alerte.infraction_id.nil? %>
          </td>
          <td>
            <%= link_to  "Détail", "/search/documents/#{alerte.id}/read", class: "button is-link is-outlined is-small" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>