<h1 class="m-b-10">
  Paramètres
</h1>
<p class="m-b-40">
  Configurer la plateforme en detail
</p>

<div class="row">
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header text-dark bg-danger"><i class="fa fa-language"></i> <%= link_to 'Langue et communication', parametre_access_lange_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">ajouter ou modifier les langues</h6>
        <p class="card-text"></p>
      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_access_lange_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <a href="#" class="card-link btn btn-sm btn-outline-primary">Ajouter</a>
      </div>
    </div>
  </div>
  <!--div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Compte et utilisateurs', parametre_access_lange_path %></h5>
        <h6 class="card-subtitle mb-2 text-muted">ajouter ou modifier les langues</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Langues', parametre_access_lange_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div-->
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header text-dark bg-primary"><i class="fa fa-money-bill-alt"></i> <%= link_to 'Solutions de paiement', parametre_paiement_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Ajouter, modifier ou supprimer des solutions de paiements</h6>
        <p class="card-text"></p>
      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Aperçu', parametre_paiement_path, class: 'card-link btn btn-sm btn-outline-primary' %>
        <%= link_to 'Ajouter', new_paiementsolution_path, class: 'card-link btn btn-sm btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header text-dark bg-success"><i class="fa fa-eye-slash"></i> <%= link_to 'Apparence et personnalisation', nil, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Customize your interface theme</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Congifurer', nil, class: 'card-link btn btn-sm btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header text-dark bg-secondary"><i class="fa fa-print"></i> <%= link_to 'Impression', nil, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration des imprimantes</h6>
        <p class="card-text"></p>
      </div>
      <div class="card-footer text-mutter">
        <%= link_to 'Congifurer', nil, class: 'card-link btn btn-sm btn-outline-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">

      <div class="card-header text-dark bg-secondary"><i class="fa fa-cloud"></i> <%= link_to 'Sauvegarde et restauration', access_systeme_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Sauvegarde et restauration de la plateforme</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Acceder', access_systeme_path, class: 'card-link btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-success text-dark"><i class="fa fa-lock"></i> Systeme et securité</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration de la sécurité de la plateforme</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Configurer', nil, class: 'card-link btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-primary text-dark">Roles et droits</div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gestion des modules de la plateforme</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Acceder', nil, class: 'card-link btn btn-sm btn-primary' %>
        <a href="#" class="card-link btn btn-sm btn-primary">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card" style="height: 17rem;">
      <div class="card-header bg-danger text-dark"><%= link_to 'Export/Import', gestion_alerte_alertes_all_path, class: 'noir' %></div>
      <div class="card-body">
        <h5 class="card-title">Présentation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Alertes de la cité Etat</h6>
        <p class="card-text"></p>

      </div>
      <div class="card-footer text-muted">
        <%= link_to 'Acceder', gestion_alerte_alertes_all_path, class: 'card-link btn btn-sm btn-primary' %>
        <%= link_to 'Ajouter', new_alerte_path, class: 'card-link btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
</div>
