<h1 class="m-b-40">
  <%= link_to access_open_path do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Configuration système
</h1>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Langue et communication', parametre_access_lange_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">ajouter ou modifier les langues</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Langues', parametre_access_lange_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div>
  <!--div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Compte et utilisateurs', parametre_access_lange_path %></h5>
        <h6 class="card-subtitle mb-2 text-muted">ajouter ou modifier les langues</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Langues', parametre_access_lange_path, class: 'card-link' %>
        <a href="#" class="card-link">Ajouter</a>
      </div>
    </div>
  </div-->
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Solution de paiement', paiementsolutions_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Ajouter des solutions de paiements</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Consulter', paiementsolutions_path, class: 'card-link' %>
        <%= link_to 'Ajouter', new_paiementsolution_path, class: 'card-link' %>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Apparence et personnalisation', nil, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Customize your interface theme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Configurer', nil, class: 'card-link' %>
        <a href="#" class="card-link">&nbsp;</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Impression', nil, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration des imprimantes</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Congifurer', nil, class: 'card-link' %>
        <a href="#" class="card-link">&nbsp;</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= link_to 'Sauvegarde et restauration', access_systeme_path, class: 'noir' %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Sauvegarde et restauration de la plateforme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', access_systeme_path, class: 'card-link' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Systeme et securité</h5>
        <h6 class="card-subtitle mb-2 text-muted">Configuration de la sécurité de la plateforme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Configurer', nil, class: 'card-link' %>
        <a href="#" class="card-link">&nbsp;</a>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Roles et droits</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gestion des modules de la plateforme</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', nil, class: 'card-link' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>
