<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Liste de tous les constats
</h1>

<div class="m-b-40">

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>#</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Agent</th>
          <th colspan="2">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @constats.each do |alerte| %>
          <tr>
            <td width="5%"><i class="fa fa-bell-o" style="color: #000000;"></i></td>
            <td>
              <%= alerte.typeaccident %>
            </td>
            <td>
              <%= alerte.comment %>
            </td>
            <td>
              <%= alerte.agent_id %>
            </td>
            <td>
              <%= link_to "Detail", nil %>
            </td>
            <td>
              <%= link_to "Transferer", nil %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>