  <%= simple_form_for(@agent, html: {class: "field"}) do |f| %>
    <%= f.error_notification %>

    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <strong>Ajout d'un nouvel agent</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Matricule</label>
            <%= f.input :matricule, placeholder: 'Matricule de l agent', label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom</label>
            <%= f.input :name, placeholder: 'Nom de l agent', label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Prénom</label>
            <%= f.input :prenom, placeholder: 'Prénom de l agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Age agent</label>
            <%= f.input :age, collection: 18..60, prompt: 'Selectionner l age', label: false, selected: 25 %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Sexe agent</label>
            <%= f.input :sexe, collection: [['Feminin','Feminin'], ['Masculin', 'Masculin']], prompt: 'Selectionner l age', label: false, selected: 25 %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Numéro téléphone</label>
            <%= f.input :phone, as: :tel, placeholder: 'Numéro téléphone agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Image</label>
            <%= f.input :avatar, as: :file, placeholder: 'Image agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Grade</label>
            <%= f.association :grade, prompt: "Selectionner un grade", label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Région de Localisation</label>
            <%= f.association :region, prompt: "Selectionner la région de localisation", label: false, selected: 'Centre' %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Unité d'appartenance</label>
            <%= f.association :unite, prompt: "Selectionner une unité", label: false %>
          </div>
        </div>
        <div class="card-footer">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
