  <%= simple_form_for(@agent, html: {class: "field"}) do |f| %>
    <%= f.error_notification %>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Matricule</label>
            <%= f.input :matricule, placeholder: 'Matricule de l agent', label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Nom</label>
            <%= f.input :name, placeholder: 'Nom de l agent', label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Prénom</label>
            <%= f.input :prenom, placeholder: 'Prénom de l agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Date naissance</label>
            <%= f.input :age, label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Sexe agent</label>
            <%= f.input :sexe, collection: [['Feminin','Feminin'], ['Masculin', 'Masculin']], prompt: 'Selectionner le sexe', label: false %>
          </div>
        </div>
        <!--div class="card-footer">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div-->
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <strong>&nbsp;</strong>
        </div>
        <div class="card-body card-block">
          <div class="form-group">
            <label for="company" class=" form-control-label">Region d'affectation</label>
            <%= f.association :region, prompt: 'Région d affection', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Numéro téléphone</label>
            <%= f.input :phone, as: :tel, placeholder: 'Numéro téléphone agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Image</label>
            <%= f.input :avatar, as: :file, placeholder: 'Image agent', label: false%>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Grade</label>
            <%= f.association :grade, prompt: "Selectionner un grade", label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">GRVPC</label>
            <%= f.association :groupement, prompt: "Selectionner un GRVPC", label: false %>
          </div>
          <div class="form-group">
            <label for="company" class=" form-control-label">Commissariat</label>
            <%= f.association :commissariat, prompt: "Sélectionner le commissariat", label: false, selected: "AUCUN" %>
          </div>
        </div>
        <!--div class="card-footer text-right">

        </div-->
      </div>
      <div class="text-right">
        <%= f.button :submit, 'Valider', class: 'btn btn-primary btn-sm' %>
        <input type="reset", class="btn btn-danger btn-sm" value="Annuler" />
      </div>

    </div>
  </div>

  <% end %>

  <script>
    $(function () {
        $('#agent_age').datepicker();
    })
  </script>
