
<%= simple_form_for(@agent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nom" %>
    <%= f.input :prenom, label: "Prénom" %>
    <%= f.input :phone, label: "Numéro de téléphone" %>
    <%= f.input :matricule, label: "Matricule" %>
    <%= f.input :grade, prompt: "Selectionner le grade", collection: ["Lieutenant", "Adjudant", "Capitaine", "Sergent"] %>
    <%= f.association :commissariat, prompt: "Selectionner commissariat d'affectation", label: "Commissariat" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
