<% content_for(:title, 'DASHBOARD GESTION DES AGENTS')%>
<p id="notice"><%= notice %></p>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input is-large" type="text" placeholder="Rechercher un agent">
  </div>
  <div class="control">
    <br>
    <button class="button is-link is-outlined">Rechercher</button>
  </div>
</div>
<div class="columns is-multiline is-mobile">
  <% @agents.each do |agent, index| %>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"></p>
              <p class="subtitle is-6">Grade</p>
            </div>
          </div>

          <div class="content">
            Identifiant :<%= agent.id %> <br>
            Nom : <%= agent.name %> <br>
            Prénom : <%= agent.prenom %> <br>
            Téléphone : <%= agent.phone %> <br>
            Matricule :<%= agent.matricule %> <br>
            Grade : <%= agent.grade.name if !agent.grade_id.nil? %> <br>
            Ville affectation : <%= agent.ville.name if !agent.ville_id.nil? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Agent', new_agent_path, class: "button is-link is-outlined" %>