<% content_for(:title, 'DASHBOARD GESTION DES AGENTS')%>
<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>
<%= link_to new_agent_path, class: 'btn btn-primary m-b-40' do %>
  <i class="fa fa-plus"></i>
  Ajouter un agent
<% end %>
<h1 class="m-b-40">Agents de police</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Matricule</th>
          <th>Name</th>
          <th>Prenom</th>
          <th>Phone</th>
          <th>Grade</th>
          <th>Région</th>
          <th>Unité</th>
          <th>Grade</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @agents.each do |agent| %>
          <tr>
            <td><%= agent.matricule %></td>
            <td><%= agent.name %></td>
            <td><%= agent.prenom %></td>
            <td><%= agent.phone %></td>
            <td><%= agent.grade.name %></td>
            <td><%= agent.region.name if !agent.region_id.nil? %></td>
            <td><%= agent.unite.name if !agent.unite_id.nil? %></td>
            <td><%= agent.grade.name if !agent.grade_id.nil? %></td>
            <td><%= link_to 'Show', agent %></td>
            <td>
              <%= link_to edit_agent_path(agent) do %>
                <i class="fa fa-edit"></i>
              <% end %>
             </td>
            <td>
              <%= link_to agent, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-eraser"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>

<div class="d-inline p-2">
  <%= link_to new_agent_path, class: 'btn btn-primary' do %>
    <i class="fa fa-plus"></i>
    Ajouter un agent
  <% end %>
</div>
<%= link_to agents_path(format: :xls), class: 'btn btn-success' do %>
  <i class="fa fa-file-excel"></i>
  Exporter les agents
<% end %>
