<% content_for(:title, 'DASHBOARD GESTION DES AGENTS')%>
<p id="notice"><%= notice %></p>
<div class="row">
  <% @agent.each do |agent| %>
    <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="mx-auto d-block">
          <%= image_tag('img/avatar.png', class: 'rounded-circle mx-auto d-block') %>
          <h5 class="text-sm-center mt-2 mb-1">Steven Lee</h5>
          <div class="location text-sm-center">
            <i class="fa fa-map-marker"></i> California, United States</div>
        </div>
        <hr>
        <div class="card-text text-sm-center">
          <a href="#">
            <i class="fa fa-facebook pr-1"></i>
          </a>
          <a href="#">
            <i class="fa fa-twitter pr-1"></i>
          </a>
          <a href="#">
            <i class="fa fa-linkedin pr-1"></i>
          </a>
          <a href="#">
            <i class="fa fa-pinterest pr-1"></i>
          </a>
        </div>
      </div>
      <div class="card-footer">
        <strong class="card-title mb-3">Profile Card</strong>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input is-large" type="text" placeholder="Rechercher un agent">
  </div>
  <div class="control">
    <br>
    <button class="button is-link is-outlined">Rechercher</button>
  </div>
</div>
<div class="columns is-multiline is-mobile">
  <% @agents.each do |agent| %>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"></p>
              <p class="subtitle is-6">Grade</p>
            </div>
          </div>

          <div class="content">
            Identifiant :<%= agent.id %> <br>
            Nom : <%= agent.name %> <br>
            Prénom : <%= agent.prenom %> <br>
            Téléphone : <%= agent.phone %> <br>
            Matricule :<%= agent.matricule %> <br>
            Grade : <%= agent.grade.name if !agent.grade_id.nil? %> <br>
            Ville affectation : <%= agent.ville.name if !agent.ville_id.nil? %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Agent', new_agent_path, class: "button is-link is-outlined" %>