<p id="notice"><%= notice %></p>
<h1 class="title is-2">Liste d'agents</h1>

<table class="table" id="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Prenom</th>
      <th>Téléphone</th>
      <th>Matricule</th>
      <th>Grade</th>
      <th>Date ajout</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents = Agent.all %>
    <% @agents.each do |agent, index| %>
      <tr>
        <td><%= agent.id %></td>
        <td><%= agent.name %></td>
        <td><%= agent.prenom %></td>
        <td><%= agent.phone %></td>
        <td><%= agent.matricule %></td>
        <td><%= agent.grade.name if !agent.grade.nil? %></td>
        <td><%= agent.created_at %></td>
        <td><%= link_to 'Show', agent, class: "button is-link is-outlined" %></td>
        <td><%= link_to 'Edit', edit_agent_path(agent), class: "button is-link is-outlined" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path, class: "button is-link is-outlined" %>