<table border="1">
  <tr>
    <th>ID</th>
    <th>Region</th>
    <th>Service</th>
    <th>Grade</th>
    <th>Name</th>
    <th>Prenom</th>
    <th>Phone</th>
    <% Agent.order(name: :asc).each do |table| %>
    <tr>
      <td><%= table.id %></td>
      <td><%= table.region.name if !table.region_id.nil? %></td>
      <td><%= table.unite.name if !table.unite_id.nil? %></td>
      <td><%= table.grade.name if !table.grade_id.nil? %></td>
      <td><%= table.name %></td>
      <td><%= table.prenom %></td>
      <td><%= table.phone %></td>
    </tr>
  <% end %>
  </tr>
</table>