<% content_for(:title, 'DASHBOARD GESTION DES AGENTS')%>
<p id="notice" class="notification"><%= notice %></p>
<%= link_to :back, class: 'button is-link is-outlined' do %>
  <i class="fa fa-arrow-left noir"></i>
  Retourner à la vue precedente
<% end %>
<div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Information sur l'agent
        </p>
        <%= link_to 'Modifier', edit_agent_path(@agent), class: 'button is-link is-outlined' %>
      <%= link_to 'Retour', agents_path %>
      </header>
      <div class="card-image">
        <figure class="image is-4by3">
          <% if @agent.avatar.attached? %>
            <%= image_tag(@agent.avatar, size: 250) %>
          <% else %>
            <%= image_tag 'https://bulma.io/images/placeholders/1280x960.png' %>
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="subtitle is-4">
            Identifiants de l'agent de police
          </div>
          <table class="table">
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Matricule</strong></td>
              <td><%= @agent.matricule %></td>
            </tr>
            <tr>
              <td><strong>2</strong></td>
              <td><strong>Nom</strong></td>
              <td><%= @agent.name %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Prénom</strong></td>
              <td><%= @agent.prenom %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Téléphone</strong></td>
              <td><%= @agent.phone %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Grade</strong></td>
              <td><%= @agent.grade.name %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Commissariat</strong></td>
              <td><%= @agent.commissariat.name %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Ville</strong></td>
              <td><%= @agent.matricule %></td>
            </tr>
            <tr>
              <td><strong>1</strong></td>
              <td><strong>Identifiant</strong></td>
              <td><%= rand(@agent.id) %></td>
            </tr>
          </table>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
      </footer>
    </div>
</p>