
<%= simple_form_for(@affectation) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.association :agent, prompt: "Selectionner un agent", html_input: {class: "input is-large"} %>
    <%= f.association :carrefour, prompt: "Selectionner un carrefour", html_input: {class: "input is-large"}  %>
    <%= f.input :date, as: :date, html5: true, html_input: {class: "input is-large"}, label: "Date de debut" %>
    <%= f.input :fin, as: :date, html5: true, html_input: {class: "input is-large"}, label: "Date de fin" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "button is-primary" %>
  </div>
<% end %>
