
<%= simple_form_for(@affectation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :type, prompt: "Selectionner un type" %>
    <%= f.association :agent, prompt: "Selectionner un agent" %>
    <%= f.association :carrefour, prompt: "Selectionner un carrefour"  %>
    <%= f.input :date, as: :date, html5: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
