<%= link_to :back, class: 'button is-link is-outlined' do %>
  <i class="fa fa-arrow-left noir"></i>
  Retour
<% end %>
<br>
<div class="card">
  <table class="table" id="table">
    <thead>
    <tr>
      <th>Mle</th>
      <th>Agent</th>
      <th>Grade</th>
      <th>Téléphone</th>
      <th>Carrefour</th>
      <th>Date&nbsp;début</th>
      <th>Date&nbsp;Fin</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @affect.each do |affectation| %>
      <tr>
        <td><%= affectation.agent.matricule %></td>
        <td><%= affectation.agent.name %>&nbsp;<%= affectation.agent.prenom %></td>
        <td><%= affectation.agent.grade.name %></td>
        <td><%= affectation.agent.phone %></td>
        <td><%= affectation.carrefour.name %></td>
        <td><%= affectation.debut %></td>
        <td><%= affectation.fin %></td>
        <td><%= link_to 'Voir', affectation, class: "button is-link is-outlined is-small" %></td>
        <td><%= link_to 'Edit', edit_affectation_path(affectation), class: "button is-link is-outlined is-small" %></td>
        <td><%= link_to 'Destroy', affectation, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-outlined is-small" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nouvelle Affectation', new_affectation_path, class: "button is-link is-outlined" %>
</div>