<p id="notice"><%= notice %></p>

<table class="table" id="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Agent</th>
      <th>Matricule</th>
      <th>Grade</th>
      <th>Téléphone</th>
      <th>Carrefour</th>
      <th>Date aff.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @affectations.each do |affectation| %>
      <tr>
        <td><%= affectation.type.name %></td>
        <td><%= affectation.agent.name %></td>
        <td><%= affectation.agent.matricule %></td>
        <td><%= affectation.agent.grade %></td>
        <td><%= affectation.agent.phone %></td>
        <td><%= affectation.carrefour.name %></td>
        <td><%= affectation.date %></td>
        <td><%= link_to 'Show', affectation, class: "button is-primary" %></td>
        <td><%= link_to 'Edit', edit_affectation_path(affectation), class: "button is-primary" %></td>
        <td><%= link_to 'Destroy', affectation, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Affectation', new_affectation_path, class: "button is-primary" %>
</main>