<p id="notice"><%= notice %></p>

  <h2>
    Affectation d'un Agent à un carrefour
  </h2>

  <p>
    <strong>Agent:</strong>
    <%= @affectation.agent.name %> <%= @affectation.agent.prenom %>
  </p>

  <p>
    <strong>Matricule:</strong>
    <%= @affectation.agent.matricule %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= @affectation.agent.grade %>
  </p>

  <p>
    <strong>Téléphone:</strong>
    <%= @affectation.agent.phone %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= @affectation.region.name if !@affectations.region_id.nil? %>
  </p>

  <p>
    <strong>Carrefour:</strong>
    <%= @affectation.commissariat.name if !@affectations.commissariat_id.nil? %>
  </p>

  <p>
    <strong>Poste de police:</strong>
    <%= @affectation.postepolice.name if !@affectations.postepolice_id.nil? %>
  </p>

  <p>
    <strong>Localisation:</strong>
    <%= @affectation.localisation %>
  </p>

  <p>
    <strong>Date début affectation:</strong>
    <%= @affectation.debut %>
  </p>

  <p>
    <strong>Date fin affectation:</strong>
    <%= @affectation.fin %>
  </p>

<%= link_to 'Edit', edit_affectation_path(@affectation) %> |
<%= link_to 'Back', affectations_path %>