
<%= simple_form_for(@departement) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <strong>Ajout d'un nouveau département</strong>
      </div>

      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Selectionner la région</label>
          <%= f.association :region, label: false, prompt: 'Selectionner une ville', selected: 'Centre' %>
        </div>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom du département</label>
          <%= f.input :name, label: false, placeholder: 'Nom du departement a creer' %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>
<% end %>
