<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @departement.name %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @departement.region.name %>
</p>

<%= link_to 'Edit', edit_departement_path(@departement) %> |
<%= link_to 'Back', departements_path %>

<br>
<br>
<%= link_to 'Ajouter un departement', new_departement_path, class: 'btn btn-sm btn-primary' %>
