<% content_for(:title, 'METROPOLIS ORDONANCEUR')%>
<%= form_tag convocations_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Rechercher', name: nil %>
  </p>
<% end %>
<hr style="background-color: #3c3f41;">
<div class="title is-4">
  <i class="fa fa-list-alt"></i> Liste des contraventions
</div>
<div class="row">
  <%= @convocations.each do |c, index| %>
    <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= c.infraction.motif if !c.infraction_id.nil? %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= 'Phone : '+c.phone+' / CNI : '+c.cni %></h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%= link_to 'Acceder', convocation_path(c), class: 'card-link' %>
        &nbsp;
        <%= c.created_at %>
      </div>
    </div>
  </div>
  <% end %>
</div>
