<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @metropolisrole.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @metropolisrole.description %>
</p>

<%= link_to 'Edit', edit_metropolisrole_path(@metropolisrole) %> |
<%= link_to 'Back', metropolisroles_path %>
