<% content_for(:title, 'DASHBOARD METROPOLIS')%>
<div class="container">
  <section class="hero is-link">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          E-PARTENAIRES
        </h1>
        <h2 class="subtitle">
          Partenaire plateforme E-POLICE 2.0
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">Bienvenue</h1>
      <h2 class="subtitle">
        Connecté en tantque : <%=current_member.email %>, ayant pour role <%= current_metropoli.metropolisrole.name %>
      </h2>
      <br>
      <br>
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <header class="card-header">
              <p class="card-header-title">
                <% if current_metropoli.metropolisrole_id == 1 %>
                  <%= link_to 'Acceder au service', metropoli_index_path, class: 'button is-link is-outlined'  %>
                <% else %>
                  <%= link_to 'Acceder au service', metropolis_comptable_index_path, class: 'button is-link is-outlined'  %>
                <% end %>
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">

              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <header class="card-header">
              <p class="card-header-title">
                <%= link_to 'Mon compte', nil, class: 'button is-link is-outlined' %>
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">

              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
              </figure>
            </div>
            <header class="card-header">
              <p class="card-header-title">
                <%= link_to 'Se déconnecter du service', destroy_metropoli_session_path, method: :delete , class: 'button is-danger is-outlined' %>
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  bienvenue assureur <%= current_member.email %>,
  <br>
  acceder à l'interface de service <%= link_to "Administrer", member_index_path, class: 'button is-link is-outlined' %>
  <br>
  <%= link_to "log out", destroy_member_session_path, method: :delete, class: 'button is-danger is-outlined' %>
</div>