<p id="notice"><%= notice %></p>

<p>
  <strong>Name1:</strong>
  <%= @constat.name1 %>
</p>

<p>
  <strong>Name2:</strong>
  <%= @constat.name2 %>
</p>

<p>
  <strong>Phone1:</strong>
  <%= @constat.phone1 %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @constat.phone2 %>
</p>

<p>
  <strong>Cni1:</strong>
  <%= @constat.cni1 %>
</p>

<p>
  <strong>Cni2:</strong>
  <%= @constat.cni2 %>
</p>

<p>
  <strong>Immatriculation1:</strong>
  <%= @constat.immatriculation1 %>
</p>

<p>
  <strong>Immatriculation2:</strong>
  <%= @constat.immatriculation2 %>
</p>

<p>
  <strong>Marque1:</strong>
  <%= @constat.marque1 %>
</p>

<p>
  <strong>Marque2:</strong>
  <%= @constat.marque2 %>
</p>

<p>
  <strong>Police1:</strong>
  <%= @constat.police1 %>
</p>

<p>
  <strong>Police2:</strong>
  <%= @constat.police2 %>
</p>

<p>
  <strong>Typeaccident:</strong>
  <%= @constat.typeaccident %>
</p>

<%= link_to 'Edit', edit_constat_path(@constat) %> |
<%= link_to 'Back', constats_path %>
