<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @status.detail %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', status_path %>
