<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
    <%= link_to parametre_index_path, class: 'brand-link' do %>
      <%= image_tag('police.png', alt: 'E-POLICE', class: 'brand-image elevation-3', style: 'opacity: .8') %>
      <span class="brand-text font-weight-light">E-POLICE</span>
  <% end %>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://adminlte.io/themes/dev/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block"><%= current_admin.name %>&nbsp;<%= current_admin.prenom %></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fa fa-tachometer" aria-hidden="true"></i>
            <p>
              Tableau de bord
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to access_dashboard_path, class: "nav-link active" do %>
                <i class="fa fa-circle-o nav-icon"></i>
                <p>TB Super admin <%= @active %></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to access_dashboard1_path, class: 'nav-link' do %>
                <i class="fa fa-circle-o nav-icon"></i>
                <p>TB DGSN</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="fa fa-file-word nav-icon"></i>
            <p>
              Fichiers
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to parametre_localisation_path, class: 'nav-link' do %>
                <i class="fa fa-user nav-icon"></i>
                <p>Découpage administratif</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to groupements_path, class: 'nav-link' do %>
                <i class="fa fa-lock nav-icon"></i>
                <p>GRVPC</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to commissariats_path, class: 'nav-link' do %>
                <i class="fa fa-laptop nav-icon"></i>
                <p>Commissariats</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to grades_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Grades</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to postepolices_path, class: 'nav-link' do %>
                <i class="fa fa-hand-point-left nav-icon"></i>
                <p>Postes de polices</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to agents_path, class: 'nav-link' do %>
                <i class="fa fa-user-secret nav-icon"></i>
                <p>Effectifs</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to infractions_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Infractions</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to pieceretenus_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Elements à retenir</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to types_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Types d'evenements</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to parametre_gestion_sturcture_partenaire_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Partenaires</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-users"></i>
            <p>
              Utilisateurs
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to access_users_path, class: 'nav-link' do %>
                <i class="fa fa-user nav-icon"></i>
                <p>Gestion utilisateurs</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to access_users_path, class: 'nav-link' do %>
                <i class="fa fa-lock nav-icon"></i>
                <p>Admin & décideurs</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to access_users_path, class: 'nav-link' do %>
                <i class="fa fa-user-circle nav-icon"></i>
                <p>Partenaires et autres</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to access_users_path, class: 'nav-link' do %>
                <i class="fa fa-mobile-phone nav-icon"></i>
                <p>Autorisations mobiles</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <%= link_to nil, class: 'nav-link' do  %>
            <i class="nav-icon fa fa-th"></i>
            <p>
              Applications
              <i class="right fa fa-angle-left"></i>
            </p>
          <% end %>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to gestion_alerte_alertes_all_path, class: 'nav-link' do %>
                <i class="fa fa-bell nav-icon"></i>
                <p>Alertes</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to gestion_contraventions_contraventions_all_path, class: 'nav-link' do %>
                <i class="fa fa-car nav-icon"></i>
                <p>Contraventions</p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to gestion_constat_all_path, class: 'nav-link' do %>
                <i class="fa fa-circle nav-icon"></i>
                <p>Constats</p>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-pie-chart"></i>
            <p>
              Recherche
              <i class="right fa fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/charts/chartjs.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>ChartJS</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/flot.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Flot</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/inline.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Inline</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-cogs"></i>
            <p>
              Parametres
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/UI/general.html" class="nav-link">
                <i class="fa fa-magic nav-icon"></i>
                <p>Autorisations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
                <i class="fa fa-language nav-icon"></i>
                <p>Langues</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/buttons.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Buttons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/sliders.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Sliders</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-bookmark"></i>
            <p>
              Export/Import
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/forms/general.html" class="nav-link">
                <i class="fa fa-upload nav-icon"></i>
                <p>Exportations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/advanced.html" class="nav-link">
                <i class="fa fa-download nav-icon"></i>
                <p>Importations</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/editors.html" class="nav-link">
                <i class="fa fa-cog nav-icon"></i>
                <p>Parametres</p>
              </a>
            </li>
          </ul>
        </li>
        <!--li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-table"></i>
            <p>
              Tables
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/tables/simple.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Simple Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/data.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Data Tables</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
          <a href="pages/calendar.html" class="nav-link">
            <i class="nav-icon fa fa-calendar"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-envelope-o"></i>
            <p>
              Mailbox
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/mailbox/mailbox.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/mailbox/compose.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Compose</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/mailbox/read-mail.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Read</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-book"></i>
            <p>
              Pages
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/examples/invoice.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Invoice</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/profile.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/login.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Login</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/register.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Register</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/lockscreen.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Lockscreen</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-plus-square-o"></i>
            <p>
              Extras
              <i class="fa fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/examples/404.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Error 404</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/500.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Error 500</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/blank.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Blank Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="starter.html" class="nav-link">
                <i class="fa fa-circle-o nav-icon"></i>
                <p>Starter Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs" class="nav-link">
            <i class="nav-icon fa fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-circle-o text-danger"></i>
            <p class="text">Important</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-circle-o text-warning"></i>
            <p>Warning</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-circle-o text-info"></i>
            <p>Informational</p>
          </a>
        </li -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>