<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>

  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyAFKl1RV2NAApyOS49fbpij70lv3PLsW1w&sensor=true' %>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.min.js', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://adminlte.io/themes/dev/AdminLTE/plugins/font-awesome/css/font-awesome.min.css", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css", 'data-turbolinks-track': 'reload' %>
  <!-- Ionicons -->
  <%= stylesheet_link_tag 'https://adminlte.io/themes/dev/AdminLTE/plugins/datatables/dataTables.bootstrap4.css', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", 'data-turbolinks-track': 'reload' %>
  <!-- Theme style -->
  <%= stylesheet_link_tag "https://adminlte.io/themes/dev/AdminLTE/dist/css/adminlte.min.css", 'data-turbolinks-track': 'reload' %>
  <!-- iCheck -->
  <%= stylesheet_link_tag "https://adminlte.io/themes/dev/AdminLTE/plugins/iCheck/flat/blue.css", 'data-turbolinks-track': 'reload' %>
  <!-- Morris chart -->
  <%= stylesheet_link_tag "https://adminlte.io/themes/dev/AdminLTE/plugins/morris/morris.css", 'data-turbolinks-track': 'reload' %>
  <!-- jvectormap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css" />
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/plugins/daterangepicker/daterangepicker-bs3.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="https://adminlte.io/themes/dev/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  <script>
      $( document ).on('turbolinks:load', function() {
          $('#table').DataTable()
          $('#table').DataTable()
      })
  </script>
</head>