<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unite.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unite.description %>
</p>

<%= link_to 'Edit', edit_unite_path(@unite) %> |
<%= link_to 'Back', unites_path %>

<br>
<br>
<%= link_to 'Nouveau service', new_unite_path, class: 'btn btn-sm btn-primary' %>
