<p id="notice"><%= notice %></p>
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Detail alerte
</h1>
<div class="row">
  <div class="col-lg-6">
    <div class="au-card au-card--bg-blue m-b-30">
      <div class="au-card-inner">
        <div class="table-responsive">
          <table class="table text-black-50">
            <tbody>
            <tr>
              <td>Date creation</td>
              <td class="text-right"><%= @alerte.created_at %></td>
            </tr>
            <tr>
              <td>Titre</td>
              <td class="text-right"><%= @alerte.titre %></td>
            </tr>
            <tr>
              <td>Description</td>
              <td class="text-right"><%= @alerte.description %></td>
            </tr>
            <tr>
              <td>Ville</td>
              <td class="text-right"><%= @alerte.ville.name if !@alerte.ville_id.nil? %></td>
            </tr>
            <tr>
              <td>Type alerte</td>
              <td class="text-right"><%= @alerte.type.name if !@alerte.type_id.nil? %></td>
            </tr>
            <tr>
              <td>Longitude</td>
              <td class="text-right"><%= @alerte.longitude %></td>
            </tr>
            <tr>
              <td>Latitude</td>
              <td class="text-right"><%= @alerte.latitude %></td>
            </tr>
            <tr>
              <td>Statut</td>
              <td class="text-right"><%= @alerte.statu.name if !@alerte.statu_id.nil? %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="au-card au-card--bg-blue m-b-30">
      <div class="au-card-inner">
        <div class="table-responsive">
          <table class="table text-black-50">
            <tbody>
            <tr>
              <td>Carte de Localisation</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2">
                <%= map(:center => {
                    :latlng => [@alerte.latitude, @alerte.longitude],
                    :zoom => 18
                },
                        :markers => [
                            {
                                :latlng => [@alerte.latitude, @alerte.longitude],
                            }
                        ]
                    ) %>
              </td>
            </tr>
            <tr>
              <td>Agent emeteru</td>
              <td class="text-right"><%= @alerte.agent.name+' '+@alerte.agent.prenom if !@alerte.agent_id.nil? %></td>
            </tr>
            <tr>
              <td>Date enregistrement</td>
              <td class="text-right"><%= @alerte.created_at %></td>
            </tr>
            <tr>
              <td>Derniere mise à jour</td>
              <td class="text-right"><%= @alerte.updated_at %></td>
            </tr>
            <tr>
              <td>Observation</td>
              <td class="text-right"><%=  %></td>
            </tr>
            <tr>
              <td>Agent verbaliseur (matricule)</td>
              <td class="text-right"><%=  %></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-right">
      <%= link_to 'Retour', :back, class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>