<p id="notice"><%= notice %></p>

<h1>Typeaccidents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typeaccidents.each do |typeaccident| %>
      <tr>
        <td><%= typeaccident.name %></td>
        <td><%= typeaccident.description %></td>
        <td><%= link_to 'Show', typeaccident %></td>
        <td><%= link_to 'Edit', edit_typeaccident_path(typeaccident) %></td>
        <td><%= link_to 'Destroy', typeaccident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typeaccident', new_typeaccident_path %>
