
<%= simple_form_for(@pieceretenu) do |f| %>
  <%= f.error_notification %>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <strong>&nbsp;</strong>
      </div>
      <div class="card-body card-block">
        <div class="form-group">
          <label for="company" class=" form-control-label">Nom de l'élément</label>
          <%= f.input :name, placeholder: "Nom de l'élément pouvant etre retenu", label: false %>
        </div>
        <div class="form-group">
          <label for="company" class=" form-control-label">Detail de l'élément</label>
          <%= f.input :detail, placeholder: "Detail sur l'élément pouvant etre retenu", label: false %>
        </div>
      </div>
      <div class="card-footer">
        <%= f.button :submit, 'Ajouter', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
