<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pieceretenu.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @pieceretenu.detail %>
</p>

<%= link_to 'Edit', edit_pieceretenu_path(@pieceretenu) %> |
<%= link_to 'Back', pieceretenus_path %>
