<% @page_title = "Gestion des commissariats" %>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Gestion des commissariat
      </h1>
      <h2 class="subtitle">
        Entrer vos données d'authentification
      </h2>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Ville</th>
      <th>Quartier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commissariats.each do |commissariat| %>
      <tr>
        <td><%= commissariat.name %></td>
        <td><%= commissariat.phone %></td>
        <td><%= commissariat.ville.name %></td>
        <td><%= commissariat.quartier %></td>
        <td><%= link_to 'Show', commissariat %></td>
        <td><%= link_to 'Edit', edit_commissariat_path(commissariat) %></td>
        <td><%= link_to 'Destroy', commissariat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>