<p id="notice"><%= notice %></p>
<%= link_to new_commissariat_path, class: 'btn btn-primary m-b-40 btn-sm float-right' do %>
  <i class="fa fa-plus"></i>
  Ajouter
<% end %>
<%= link_to 'Gestion des posts', post_commissariats_path, class: 'btn btn-primary m-b-40 btn-sm float-right', style: 'margin-right: 5px;' %>
<h1 class="m-b-40">
  <%= params[:controller].pluralize.upcase %>
</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des commissariats</h3>

      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover" id="tableRegion">
          <thead>
            <tr>
              <th>#</th>
              <th>Libellé</th>
              <th>Numéro de téléphone</th>
              <th>Région</th>
              <th>Département</th>
              <th>Arrondissement</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

          <% @commissariats.each do |commissariat| %>
            <tr>
              <td><%= fa_icon 'star' %></td>
              <td><%= commissariat.name %></td>
              <td><%= commissariat.phone %></td>
              <td><%= commissariat.region.name if !commissariat.region_id.nil? %></td>
              <td><%= commissariat.departement.name if !commissariat.departement_id.nil? %></td>
              <td><%= commissariat.arrondissement.name if !commissariat.arrondissement_id.nil? %></td>
              <td>
                <div class="dropdown float-right">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to commissariat, class: 'dropdown-item' do %>
                      <%= fa_icon 'eye' %>
                      Voir
                    <% end %>
                    <%= link_to edit_commissariat_path(commissariat), class: 'dropdown-item' do %>
                      <%= fa_icon 'edit' %>
                      Editer
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'share' %>
                      Envoyer un mail à
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'envelope' %>
                      Message au responsable
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'phone' %>
                      SMS au responsable
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'lock' %>
                      Bloquer <%= commissariat.name %>
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'times' %>
                      Supprimer
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'plus' %>
                      Autres fonctionnalités
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>


<script>
    $(document).ready( function () {
        $('#tableRegion').DataTable();
    } );
</script>