<p id="notice"><%= notice %></p>
<%= link_to new_commissariat_path, class: 'btn btn-primary m-b-40 btn-sm float-right' do %>
  <i class="fa fa-plus"></i>
  Ajouter
<% end %>
<%= link_to 'Gestion des posts', post_commissariats_path, class: 'btn btn-primary m-b-40 btn-sm float-right', style: 'margin-right: 5px;' %>
<h1 class="m-b-40">
  <%= params[:controller].pluralize.upcase %>
</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des commissariats</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <tbody><tr>
            <th>ID</th>
            <th>Libellé</th>
            <th>Numéro de téléphone</th>
            <th>Région</th>
            <th>Département</th>
            <th>Arrondissement</th>
            <th colspan="3">Actions</th>
          </tr>
          <% @commissariats.each do |commissariat| %>
            <tr>
              <td><%= commissariat.id %></td>
              <td><%= commissariat.name %></td>
              <td><%= commissariat.phone %></td>
              <td><%= commissariat.region.name if !commissariat.region_id.nil? %></td>
              <td><%= commissariat.departement.name if !commissariat.departement_id.nil? %></td>
              <td><%= commissariat.arrondissement.name if !commissariat.arrondissement_id.nil? %></td>
              <td><%= link_to 'Voir', commissariat %></td>
              <td><%= link_to 'Edit', edit_commissariat_path(commissariat) %></td>
              <td><%= link_to 'Supprimer', commissariat, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>