<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commissariat.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @commissariat.phone %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @commissariat.ville.name %>
</p>

<%= link_to 'Edit', edit_commissariat_path(@commissariat) %> |
<%= link_to 'Back', commissariats_path %>
</main>