<% content_for(:title, 'METROPOLIS IDENTIFIEZ-VOUS')%>
<!-- titre dans le Yield de application.html.erb -->
<% if flash[:notice] %>
  <div class="notice is-desktop has-text-centered">
    <div class="notification is-danger">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>


<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">METROPOLIS</h3>
        <p class="subtitle has-text-grey"></p>
        <p class="subtitle has-text-grey is-6">Merci de fournir vos identifications de connexion.</p>
        <div class="box" style="margin-top: -10px;">

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs has-text-left">
              <%= f.input :email,
                          required: true,
                          autofocus: true ,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" }, placeholder: 'Mot de passe' %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" }, placeholder: 'Confirmer votre mot de passe' %>
              <%= f.association :metropolisrole,
                          required: true,
                          input_html: { autocomplete: "new-password", style: 'margin-botton: 20px;' }, label: 'selectionner un role', prompt: 'Seletionner un role' %>
            </div>

            <div class="form-actions" style="margin-top: 60px;">
              <%= f.button :submit, "Creer un agent", class: 'button is-link is-outlined is-fullwidth is-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
