<% content_for(:title, 'ARCHIVAGE DES DONNEES')%>

<h1 class="m-b-40">
  Confirmation Documents agent <%= @agent.complete_name %>
</h1>
<p class="m-b-40">
  Confirmer la reception des pieces
</p>
<p class="subtitle is-5">
  <i class="fa fa-warning has-text-grey"></i>
    La confirmation de la reception des documents de contravention est irreversible, il est donc important de clairement identifier les documents que l'on recoi
</p>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header bg-secondary text-light">
        <strong>Information sur les documents de contravention</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label"><i class="fa fa-calendar"></i> Date Emission</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.created_at %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label"><i class="fa fa-phone"></i> Téléphone</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.phone %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label"><i class="fa fa-car"></i> Immatriculation</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.immatriculation.upcase %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label"><i class="fa fa-id-card"></i>Numéro CNI</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.cni.upcase %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label">Motif infraction</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.infraction.motif if !@request.infraction_id.nil? %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label">Montant Infraction</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @request.infraction.montant if !@request.infraction_id.nil? %> CFA XAF
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="email-input" class=" form-control-label">Piece retenue</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead" style="color: #cc0000;">
                <%= @request.pieceretenu.name if !@request.pieceretenu_id.nil? %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="textarea-input" class=" form-control-label">Code QR (Scan)</label>
            </div>
            <div class="col-12 col-md-9">
              <%= image_tag("http://api.qrserver.com/v1/create-qr-code/?data=#{@qrcode}!&size=200x200", size: '200') %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header bg-secondary text-light">
        <strong>Information sur l'Agent possedant les documents</strong>
      </div>
      <div class="card-body card-block">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="row form-group">
            <div class="col col-md-3">
              <label class=" form-control-label">Matricule</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead"><%= @request.agent.matricule %></p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="text-input" class=" form-control-label">Nom complet</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead"><%= @agent.complete_name %></p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="email-input" class=" form-control-label">Grade</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead"><%= @agent.grade.name if !@agent.grade_id.nil? %></p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="password-input" class=" form-control-label">Service</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead"><%= @agent.groupement.name if !@agent.groupement_id.nil? %></p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="password-input" class=" form-control-label">Sexe</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @agent.sexe %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="password-input" class=" form-control-label">Region de service</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @agent.region.name if !@agent.region_id.nil? %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="password-input" class=" form-control-label">Statut affectation</label>
            </div>
            <div class="col-12 col-md-9">
              <p class="lead">
                <%= @agent.statusaffectation %>
              </p>
            </div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3">
              <label for="password-input" class=" form-control-label">Photo</label>
            </div>
            <div class="col-12 col-md-9">
              <%= image_tag(@agent.avatar.url, size: 250, class: 'img-thumbnail float-right') %>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <%= link_to archive_merci_path(data: @request.id, agent: @agent.id), class: 'btn btn-outline-primary btn-sm' do %>
          <i class="fa fa-dot-circle"></i>
          Valider l'archivage
        <% end %>
      </div>
    </div>
  </div>
</div>