<% content_for(:title, 'ARCHIVAGE DES DONNEES')%>
<p id="notice"><%= notice %></p>
<h1 class="m-b-40">
  <%= link_to :back do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  Documents de l'agent <%= Agent.find(params[:agent_id]).complete_name %>
</h1>

<div class="m-b-40">
  Selectionner les contraventions dont vous aimerez recevoir les pieces retenues
</div>

<div class="row">
  <% if @query.inspect %>
  <div class="col-sm-6">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-exclamation-circle fa-1x"></i>  Impossible de trouver des documents pour l'agent <strong><%= link_to Agent.find(params[:agent_id]).complete_name, agent_path(Agent.find(params[:agent_id]).id) %></strong>
    </div>
  </div>
  <% else %>
    <div class="col-lg-12">
    <div class="table-responsive table--no-card m-b-30">
      <table class="table table-borderless table-striped table-earning">
        <thead>
        <tr>
          <th>Date creation</th>
          <th>Document retenu</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @query.each do |query| %>
          <tr>
            <td><%= query.created_at %></td>
            <td><%= query.pieceretenu.name if !query.pieceretenu_id.nil? %></td>
            <td><%= link_to 'Show', convocation_path(query) %></td>
            <td><%= link_to 'Edit', edit_convocation_path(query) %></td>
            <td><%= link_to 'Scan QR code', nil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>
