
<%= simple_form_for(@agentphone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :phone %>

    <%= f.input :fingerprint, readonly: true %>

    <%= f.input :imei %>

    <%= f.association :agent, prompt: "selectionner un agent" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
