<p id="notice"><%= notice %></p>
<%= link_to new_groupement_path, class: 'btn btn-primary m-b-30 btn-sm' do %>
  <i class="fa fa-plus"></i>
  Ajouter un groupement
<% end %>
<h1 class="m-b-40">
  Groupements régionaux
</h1>

<div class="col-lg-12">
  <div class="table-responsive table--no-card m-b-30">
    <table class="table table-borderless table-striped table-earning">
      <thead>
      <tr>
        <th>Libellé groupement</th>
        <th>Numéro téléphone</th>
        <th>Région localisation</th>
        <th colspan="3">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @groupements.each do |groupement| %>
        <tr>
          <td><%= groupement.name %></td>
          <td><%= groupement.phone %></td>
          <td><%= groupement.region.name %></td>
          <td><%= link_to 'Show', groupement %></td>
          <td><%= link_to 'Edit', edit_groupement_path(groupement) %></td>
          <td><%= link_to 'Destroy', groupement, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to new_groupement_path, class: 'btn btn-primary btn-sm' do %>
  <i class="fa fa-plus"></i>
  Ajouter un groupement
<% end %>
