<p id="notice"><%= notice %></p>
<h1 class="m-b-40">
  Liste des groupements régionaux
</h1>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Liste des GRVPC regionaux</h3>

      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover" id="tableRegion">
          <thead>
            <tr>
              <th>#</th>
              <th>Libellé</th>
              <th>Région</th>
              <th>Contact</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @groupements.each do |groupements| %>
            <tr>
              <td><%= fa_icon 'star' %></td>
              <td><%= groupements.name %></td>
              <td><%= groupements.region.name %></td>
              <td><%= groupements.phone %></td>
              <td>
                <div class="dropdown float-right">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to groupements, class: 'dropdown-item' do %>
                      <%= fa_icon 'eye' %>
                      Voir
                    <% end %>
                    <%= link_to edit_groupement_path(groupements), class: 'dropdown-item' do %>
                      <%= fa_icon 'edit' %>
                      Editer
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'share' %>
                      Envoyer un mail à
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'envelope' %>
                      Message au responsable
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'phone' %>
                      SMS au responsable
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'lock' %>
                      Bloquer <%= groupements.name %>
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'times' %>
                      Supprimer
                    <% end %>
                    <%= link_to nil, class: 'dropdown-item' do %>
                      <%= fa_icon 'plus' %>
                      Autres fonctionnalités
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>

<br>

<%= link_to new_groupement_path, class: 'btn btn-primary btn-sm float-right' do %>
  <i class="fa fa-plus"></i>
  Ajouter
<% end %>

<script>
    $(document).ready( function () {
        $('#tableRegion').DataTable();
    } );
</script>
