
<%= simple_form_for(@paiementsolution) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name, collection: [['Mobile manking', 'Mobile Banking'], ['Banque','Banque'], ['Visa', 'Visa'], ['Paypal', 'Paypal']], label: false, prompt: 'Selectionner une type' %>

    <%= f.input :name %>

    <%= f.input :operator %>

    <%= f.input :image, as: :file %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
