<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paiementsolution.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @paiementsolution.name %>
</p>

<p>
  <strong>Operator:</strong>
  <%= @paiementsolution.operator %>
</p>

<%= link_to 'Edit', edit_paiementsolution_path(@paiementsolution) %> |
<%= link_to 'Back', paiementsolutions_path %>
