<div class="column is-3">
    <% if control? %>
    <aside class="menu">
        <p class="menu-label">
            Général
        </p>
        <ul class="menu-list">
            <li><a class="is-active">Dashboard</a></li>
            <li>
                <%= link_to  controller: 'access', action: 'access_control' do %>
                    <i class="fa fa-area-chart" style="color: #000000;"></i>
                    Administration
                <% end %>
            </li>
            <li>
                <%= link_to statistique_index_path do %>
                    <i class="fa fa-users" style="color: #000000;"></i>
                    Statistiques
                <% end %>
            </li>
            <li>
                <%= link_to affectations_path do %>
                    <i class="fa fa-address-book" style="color: #000000;"></i>
                    Affectation agents
                <% end %>
            </li>
            <li>
                <%= link_to commissariats_path do %>
                    <i class="fa fa-home" style="color: #000000;"></i>
                    Commissariats
                <% end %>
            </li>
        </ul>
        <p class="menu-label">
            Administration DGSN
        </p>
        <ul class="menu-list">
        <li>
            <%= link_to  "Gestion des alertes", "#" %>
            <ul>
                <li>
                    <%= link_to gestion_alerte_today_path do %>
                        <i class="fa fa-calendar-check-o" style="color: #000000;"></i>
                        De ce jour
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_week_path do %>
                        <i class="fa fa-calendar" style="color: #000000;"></i>
                        De la semaine
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_mounth_path do %>
                        <i class="fa fa-calendar-o" style="color: #000000;"></i>
                        Par mois
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_periode_path do %>
                        <i class="fa fa-calendar-plus-o" style="color: #000000;"></i>
                        Par période
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_region_path do %>
                        <i class="fa fa-map-marker" style="color: #000000;"></i>
                        Par région
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_resolve_path do %>
                        <i class="fa fa-bell-slash" style="color: #000000;"></i>
                        Résolues
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_alerte_unresolve_path do %>
                        <i class="fa fa-bell-o" style="color: #000000;"></i>
                        Non résolues
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to  "Gestion des contraventions", "#" %>
            <ul>
                <li>
                    <%= link_to gestion_contravention_today_path do %>
                        <i class="fa fa-calendar-check-o" style="color: #000000;"></i>
                        De ce jour
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_contravention_week_path do %>
                        <i class="fa fa-calendar-o" style="color: #000000;"></i>
                        De la semaine
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_contravention_mounth_path do %>
                        <i class="fa fa-calendar" style="color: #000000;"></i>
                        Du mois
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_contravention_cartography_path do %>
                        <i class="fa fa-map" style="color: #000000;"></i>
                        Cartographie
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_contravention_region_path do %>
                        <i class="fa fa-map-marker" style="color: #000000;"></i>
                        Par région
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
            <%= link_to  "Gestion des constats", '#' %>
            <ul>
                <li>
                    <%= link_to gestion_constat_today_path do %>
                        <i class="fa fa-calendar-check-o" style="color: #000000;"></i>
                        De ce jour
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_hier_path do %>
                        <i class="fa fa-calendar-o" style="color: #000000;"></i>
                        D'hier
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_week_path do %>
                        <i class="fa fa-calendar" style="color: #000000;"></i>
                        de la semaine
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_mounth_path do %>
                        <i class="fa fa-calendar-plus-o" style="color: #000000;"></i>
                        Du mois
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_all_path do %>
                        <i class="fa fa-check" style="color: #000000;"></i>
                        Toutes
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_region_path do %>
                        <i class="fa fa-map-marker" style="color: #000000;"></i>
                        Par région
                    <% end %>
                </li>
                <li>
                    <%= link_to gestion_constat_assureur_path do %>
                        <i class="fa fa-car" style="color: #000000;"></i>
                        Par assureur
                    <% end %>
                </li>
            </ul>
        </li>
        </ul>
    </aside>
    <% else %>
        <aside class="menu">
            <p class="menu-label">
                Général
            </p>
            <ul class="menu-list">
                <li><a class="is-active"></i>Partenaires <strong><%= current_user.role.name if !control? %></strong></a></li>
                <li><a><i class="fa fa-bell" style="color: #000000;"></i>Alertes non consultées</a></li>
                <li><a><i class="fa fa-bell-o" style="color: #000000;"></i>Alertes consultées</a></li>
            </ul>
            <p class="menu-label">
                Administration des alertes
            </p>
            <ul class="menu-list">
            <li>
                <%= link_to  "Liste des alertes", '#' %>
                <ul>
                    <li><a><i class="fa fa-bullseye" style="color: #000000;"></i>De ce jour</a></li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-calendar" style="color: #000000;"></i>
                            De la semaine
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-calendar-check-o" style="color: #000000;"></i>
                            Du mois
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map-signs" style="color: #000000;"></i>
                            Toutes les alertes
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            Sur la carte
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            Toutes les alertes
                        <% end %>
                    </li>
                </ul>
                <%= link_to  "Cartographie des alertes", '#' %>
                <ul>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-close" style="color: #000000;"></i>
                            De ce jour
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-close-o" style="color: #000000;"></i>
                            De la semaine
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-maximize" style="color: #000000;"></i>
                            Du mois
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-wpexplorer" style="color: #000000;"></i>
                            Par région
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            sur la carte
                        <% end %>
                    </li>
                    <li><a>Repartion sur une carte</a></li>
                    <li><%= link_to  "Gestion des affectation des agents", affectations_path %></li>
                </ul>
            </li>
            </ul>
            <p class="menu-label">
            Comptes et partenaires
            </p>
            <ul class="menu-list">
            <li><a>Payments</a></li>
            <li><a>Transfers</a></li>
            <li><a>Balance</a></li>
            </ul>
        </aside>
    <% end %>
</div>