<div class="column is-3">
        <aside class="menu">
            <p class="menu-label">
                Général
            </p>
            <ul class="menu-list">
                <li><a class="is-active"></i>Partenaires <strong>moi test</strong></a></li>
                <li><a><i class="fa fa-bell" style="color: #000000;"></i>Alertes non consultées</a></li>
                <li><a><i class="fa fa-bell-o" style="color: #000000;"></i>Alertes consultées</a></li>
            </ul>
            <p class="menu-label">
                Administration des alertes
            </p>
            <ul class="menu-list">
            <li>
                <%= link_to  "Liste des alertes", '#' %>
                <ul>
                    <li><a><i class="fa fa-bullseye" style="color: #000000;"></i>De ce jour</a></li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-calendar" style="color: #000000;"></i>
                            De la semaine
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-calendar-check-o" style="color: #000000;"></i>
                            Du mois
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map-signs" style="color: #000000;"></i>
                            Toutes les alertes
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            Sur la carte
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            Toutes les alertes
                        <% end %>
                    </li>
                </ul>
                <%= link_to  "Cartographie des alertes", '#' %>
                <ul>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-close" style="color: #000000;"></i>
                            De ce jour
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-close-o" style="color: #000000;"></i>
                            De la semaine
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-window-maximize" style="color: #000000;"></i>
                            Du mois
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-wpexplorer" style="color: #000000;"></i>
                            Par région
                        <% end %>
                    </li>
                    <li>
                        <%= link_to  new_agent_path do %>
                            <i class="fa fa-map" style="color: #000000;"></i>
                            sur la carte
                        <% end %>
                    </li>
                    <li><a>Repartion sur une carte</a></li>
                    <li><%= link_to  "Gestion des affectation des agents", affectations_path %></li>
                </ul>
            </li>
            </ul>
            <p class="menu-label">
            Comptes et partenaires
            </p>
            <ul class="menu-list">
            <li><a>Payments</a></li>
            <li><a>Transfers</a></li>
            <li><a>Balance</a></li>
            </ul>
        </aside>
</div>