<div class="column is-3">
        <aside class="menu">
            <p class="menu-label">
                Général
            </p>
            <ul class="menu-list">
                <!--li><a class="is-active"></i>Partenaires <strong>moi test</strong></a></li>
                <li><a><i class="fa fa-bell" style="color: #000000;"></i>Alertes non consultées</a></li>
                <li><a><i class="fa fa-bell-o" style="color: #000000;"></i>Alertes consultées</a></li-->
            </ul>
            <p class="menu-label">
              Statistiques
            </p>
          <ul class="menu-list">
            <li>
              <%= link_to  '#' do %>
                <i class="fa fa-list noir"></i>
                &nbsp;Statistiques alertes
              <% end %>

              <%= link_to  '#' do %>
                <i class="fa fa-list noir"></i>
                &nbsp;Statistiques contraventions
              <% end %>

              <%= link_to  '#' do %>
                <i class="fa fa-list noir"></i>
                &nbsp;Statistiques constats
              <% end %>

              <%= link_to '', '#' %>

            </li>
          </ul>
            <p class="menu-label">
                Administration des alertes
            </p>
            <ul class="menu-list">
            <li>
                <%= link_to  gestion_alerte_alertes_all_path do %>
                  <i class="fa fa-linkedin-square noir"></i>
                  Liste des alertes
                <% end %>

              <%= link_to  gestion_contraventions_contraventions_all_path do %>
                <i class="fa fa-code noir"></i>
                Liste des contraventions
              <% end %>

              <%= link_to  gestion_constat_all_path do %>
                <i class="fa fa-car noir"></i>
                Liste des constats
              <% end %>

              <%= link_to  agents_path do %>
                <i class="fa fa-user-circle noir"></i>
                Gestion des agents
              <% end %>

            </li>
            </ul>
            <p class="menu-label">
            Comptes et partenaires
            </p>
            <ul class="menu-list">
              <li>
                <%= link_to manage_admin_path do %>
                  <i class="fa fa-shield noir"></i>
                  Administrateurs
                <% end %>
              </li>
              <li>
                <%= link_to manage_grvpc_path do %>
                  <i class="fa fa-wheelchair-alt noir"></i>
                  GRVPC
                <% end %>
              </li>
              <li>
                <%= link_to manage_member_path do %>
                  <i class="fa fa-users noir"></i>
                  Partenaires membre
                <% end %>
              </li>
              <li>
                <%= link_to manage_assurance_path do %>
                  <i class="fa fa-car noir"></i>
                  Assurance
                <% end %>
              </li>
              <li>
                <%= link_to manage_metropolis_path do %>
                  <i class="fa fa-user-circle noir"></i>
                  Communauté urbaine
                <% end %>
              </li>
            </ul>
        </aside>
</div>