<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>E−POLICE DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag "application", media: 'all' %>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <%= stylesheet_link_tag "bulma.min", media: 'all' %>
    <%= stylesheet_link_tag "admin.css", media: 'all' %>
    <%= javascript_include_tag "bulma.js", media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700", media: 'all' %>
    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.1.0/js/all.js", media: 'all' %>
</head>
<body>

  <!-- START NAV -->
  <%= render  "layouts/menu" %>
  <!-- END NAV -->
  <div class="container">
    <div class="columns">
      <%= render  "layouts/the_sidebar" %>
      <div class="column is-9">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="../">Bulma</a></li>
            <li><a href="../">Templates</a></li>
            <li><a href="../">Examples</a></li>
            <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
          </ul>
        </nav>
          <section class="hero is-info welcome is-small">
            <div class="hero-body">
              <div class="container">
                <h1 class="title">
                  <i class="fa fa-user-circle-o"></i> Hello, <%= session[:name] %>.
                </h1>
                <h2 class="subtitle">
                  
                </h2>
              </div>
            </div>
          </section>
          <section class="info-tiles">
          <% if control? %>
            <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-bell-slash fa-1x" style="color: #000000;"></i></p>
                  <p class="subtitle is-6"><%= Alerte.count %> Alerte(s) aujourd'hui</p>
                  <%= link_to '#', class: 'button' do %>
                    <i class="fa fa-check" style="color: #000000;"></i>
                    Acceder
                  <% end %>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><%= Alerte.count %></p>
                  <p class="subtitle">Alertes</p>
                  <%= link_to '#', class: 'button' do %>
                    <i class="fa fa-check" style="color: #000000;"></i>
                    Acceder
                  <% end %>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-car fa-1x" style="color: #000000;"></i></p>
                  <p class="subtitle is-6"><%= Convocation.count %> Contraventions aujourd'hui</p>
                  <%= link_to '#', class: 'button' do %>
                    <i class="fa fa-check" style="color: #000000;"></i>
                    Acceder
                  <% end %>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-clone fa-1x" style="color: #000000;"></i></p>
                  <p class="subtitle is-6">0 Constats aujourd'hui</p>
                  <%= link_to '#', class: 'button' do %>
                    <i class="fa fa-check" style="color: #000000;"></i>
                    Acceder
                  <% end %>
                </article>
              </div>
            </div>
          <% else %>
            <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-bell fa-2x" style="color: #000000;"></i></p>
                  <p class="subtitle"><%= Alerte.count %> Alertes</p>
                  <%= link_to '#', class: 'button' do %>
                    <i class="fa fa-check" style="color: #000000;"></i>
                    Acceder
                  <% end %>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-bell-slash fa-2x" style="color: #000000;"></i></p>
                  <p class="subtitle"><%= Alerte.count %> non lu</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-bell-o fa-2x" style="color: #000000;"></i></p>
                  <p class="subtitle"><%= Alerte.count %> lu</p>
                </article>
              </div>
              <div class="tile is-parent">
                <article class="tile is-child box">
                  <p class="title"><i class="fa fa-bell fa-2x" style="color: #000000;"></i></p>
                  <p class="subtitle"><%= Alerte.count %> Alertes</p>
                </article>
              </div>
            </div>
          <% end %>

          </section>
          <%= yield %>
    </div>
    </div>
  </div>

    
</body>
</html>