<!DOCTYPE html>
<html>
  <head>
    <title>POP Circulation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.1.0/js/all.js', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "bulma", media: 'all' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
