<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= full_title(yield :title)%></title>
  <!-- Fontfaces CSS-->
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css' %>

  <!-- Bootstrap CSS-->
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css' %>

  <!-- Vendor CSS-->
  <%= stylesheet_link_tag  'https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.css' %>
  <%= stylesheet_link_tag  'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/wow/animate.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/css-hamburgers/hamburgers.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/slick/slick.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css' %>

  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/font-face.css' %>
  <%= stylesheet_link_tag 'https://colorlib.com/polygon/cooladmin/css/theme.css' %>


  <!-- Main CSS-->
  <%= javascript_include_tag 'jquery-3.3.1.min' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/popper.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/slick/slick.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/wow/wow.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/counter-up/jquery.waypoints.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/counter-up/jquery.counterup.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/circle-progress/circle-progress.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.js' %>
  <%= javascript_include_tag 'https://colorlib.com/polygon/cooladmin/js/main.js' %>
</head>
<body>
<div class="page-wrapper">
  <!-- HEADER MOBILE-->
  <header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
      <div class="container-fluid">
        <div class="header-mobile-inner">
          <a class="logo" href="index_.html">
            <img src="https://colorlib.com/polygon/cooladmin/index.html#" alt="CoolAdmin" />
          </a>
          <button class="hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <nav class="navbar-mobile">
      <div class="container-fluid">
        <ul class="navbar-mobile__list list-unstyled">
          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fas fa-tachometer-alt"></i>Dashboard</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="index_.html">Dashboard 1</a>
              </li>
              <li>
                <a href="index2.html">Dashboard 2</a>
              </li>
              <li>
                <a href="index3.html">Dashboard 3</a>
              </li>
              <li>
                <a href="index4.html">Dashboard 4</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="chart.html">
              <i class="fas fa-chart-bar"></i>Charts</a>
          </li>
          <li>
            <a href="table.html">
              <i class="fas fa-table"></i>Tables</a>
          </li>
          <li>
            <a href="form.html">
              <i class="far fa-check-square"></i>Forms</a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-calendar-alt"></i>Calendar</a>
          </li>
          <li>
            <a href="map.html">
              <i class="fas fa-map-marker-alt"></i>Maps</a>
          </li>
          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fas fa-copy"></i>Pages</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="index.php">Login</a>
              </li>
              <li>
                <a href="register.html">Register</a>
              </li>
              <li>
                <a href="forget-pass.html">Forget Password</a>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a class="js-arrow" href="#">
              <i class="fas fa-desktop"></i>UI Elements</a>
            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
              <li>
                <a href="button.html">Button</a>
              </li>
              <li>
                <a href="badge.html">Badges</a>
              </li>
              <li>
                <a href="tab.html">Tabs</a>
              </li>
              <li>
                <a href="card.html">Cards</a>
              </li>
              <li>
                <a href="alert.html">Alerts</a>
              </li>
              <li>
                <a href="progress-bar.html">Progress Bars</a>
              </li>
              <li>
                <a href="modal.html">Modals</a>
              </li>
              <li>
                <a href="switch.html">Switchs</a>
              </li>
              <li>
                <a href="grid.html">Grids</a>
              </li>
              <li>
                <a href="fontawesome.html">Fontawesome Icon</a>
              </li>
              <li>
                <a href="typo.html">Typography</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- END HEADER MOBILE-->

  <!-- MENU SIDEBAR-->
  <%= render 'layouts/fylo_sidebar' %>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <form class="form-header" action="" method="POST">
              <input class="au-input au-input--xl" type="text" name="search" placeholder="Recherche express..." />
              <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
              </button>
            </form>
            <div class="header-button">
              <div class="noti-wrap">
                <div class="noti__item js-item-menu">
                  <i class="zmdi zmdi-comment-more"></i>
                  <span class="quantity">1</span>
                  <div class="mess-dropdown js-dropdown">
                    <div class="mess__title">
                      <p>You have 2 news message</p>
                    </div>
                    <div class="mess__item">
                      <div class="image img-cir img-40">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                      </div>
                      <div class="content">
                        <h6>Michelle Moreno</h6>
                        <p>Have sent a photo</p>
                        <span class="time">3 min ago</span>
                      </div>
                    </div>
                    <div class="mess__item">
                      <div class="image img-cir img-40">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-04.jpg" alt="Diane Myers" />
                      </div>
                      <div class="content">
                        <h6>Diane Myers</h6>
                        <p>You are now connected on message</p>
                        <span class="time">Yesterday</span>
                      </div>
                    </div>
                    <div class="mess__footer">
                      <a href="#">View all messages</a>
                    </div>
                  </div>
                </div>
                <div class="noti__item js-item-menu">
                  <i class="zmdi zmdi-email"></i>
                  <span class="quantity">1</span>
                  <div class="email-dropdown js-dropdown">
                    <div class="email__title">
                      <p>You have 3 New Emails</p>
                    </div>
                    <div class="email__item">
                      <div class="image img-cir img-40">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                      </div>
                      <div class="content">
                        <p>Meeting about new dashboard...</p>
                        <span>Cynthia Harvey, 3 min ago</span>
                      </div>
                    </div>
                    <div class="email__item">
                      <div class="image img-cir img-40">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                      </div>
                      <div class="content">
                        <p>Meeting about new dashboard...</p>
                        <span>Cynthia Harvey, Yesterday</span>
                      </div>
                    </div>
                    <div class="email__item">
                      <div class="image img-cir img-40">
                        <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                      </div>
                      <div class="content">
                        <p>Meeting about new dashboard...</p>
                        <span>Cynthia Harvey, April 12,,2018</span>
                      </div>
                    </div>
                    <div class="email__footer">
                      <a href="#">See all emails</a>
                    </div>
                  </div>
                </div>
                <div class="noti__item js-item-menu">
                  <i class="zmdi zmdi-notifications"></i>
                  <span class="quantity">3</span>
                  <div class="notifi-dropdown js-dropdown">
                    <div class="notifi__title">
                      <p>You have 3 Notifications</p>
                    </div>
                    <div class="notifi__item">
                      <div class="bg-c1 img-cir img-40">
                        <i class="zmdi zmdi-email-open"></i>
                      </div>
                      <div class="content">
                        <p>You got a email notification</p>
                        <span class="date">April 12, 2018 06:50</span>
                      </div>
                    </div>
                    <div class="notifi__item">
                      <div class="bg-c2 img-cir img-40">
                        <i class="zmdi zmdi-account-box"></i>
                      </div>
                      <div class="content">
                        <p>Your account has been blocked</p>
                        <span class="date">April 12, 2018 06:50</span>
                      </div>
                    </div>
                    <div class="notifi__item">
                      <div class="bg-c3 img-cir img-40">
                        <i class="zmdi zmdi-file-text"></i>
                      </div>
                      <div class="content">
                        <p>You got a new file</p>
                        <span class="date">April 12, 2018 06:50</span>
                      </div>
                    </div>
                    <div class="notifi__footer">
                      <a href="#">All notifications</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="account-wrap">
                <div class="account-item clearfix js-item-menu">
                  <div class="image">
                    <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-01.jpg" alt="John Doe" />
                  </div>
                  <div class="content">
                    <a class="js-acc-btn" href="#"><%= current_admin.email %></a>
                  </div>
                  <div class="account-dropdown js-dropdown">
                    <div class="info clearfix">
                      <div class="image">
                        <a href="#">
                          <img src="https://colorlib.com/polygon/cooladmin/images/icon/avatar-01.jpg" alt="John Doe" />
                        </a>
                      </div>
                      <div class="content">
                        <h5 class="name">
                          <a href="#">john doe</a>
                        </h5>
                        <span class="email">johndoe@example.com</span>
                      </div>
                    </div>
                    <div class="account-dropdown__body">
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-account"></i>Account</a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-settings"></i>Setting</a>
                      </div>
                      <div class="account-dropdown__item">
                        <a href="#">
                          <i class="zmdi zmdi-money-box"></i>Billing</a>
                      </div>
                    </div>
                    <div class="account-dropdown__footer">
                      <a href="#">
                        <i class="zmdi zmdi-power"></i>Logout</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">Aperçu</h2>
                <button class="au-btn au-btn-icon au-btn--blue">
                  <i class="zmdi zmdi-chart"></i>Statistiques</button>
              </div>
            </div>
          </div>
          <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-alert-circle"></i>
                    </div>
                    <div class="text">
                      <h2><%= Alerte.where(statu_id: Statu.last.id).all.count %></h2>
                      <span>Alertes non résolues</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-polymer"></i>
                    </div>
                    <div class="text">
                      <h2><%= Convocation.where(status: 'Impayé').all.count %></h2>
                      <span>Convocation impayées</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-car-wash"></i>
                    </div>
                    <div class="text">
                      <h2><%= Constat.all.count %> </h2>
                      <span>Constats</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-account-box"></i>
                    </div>
                    <div class="text">
                      <h2> <%= Agent.all.count %> </h2>
                      <span>Agents enregistrés</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="agis" width="500" height="250"></canvas>
                    <canvas id="widgetChart4" width="400" height="400"></canvas>
                      <script>
                        var ctx = document.getElementById("agis").getContext('2d');
                        //var ctx = $("#recent-rep-chart");
                        //var ctx = Document.getElementById("agis");
                        var widgetChart4 = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                                datasets: [{
                                    label: '# of Votes',
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="au-card recent-report">
                <div class="au-card-inner">
                  <h3 class="title-2">Raport recent</h3>
                  <div class="chart-info">
                    <div class="chart-info__left">
                      <div class="chart-note">
                        <span class="dot dot--blue"></span>
                        <span>products</span>
                      </div>
                      <div class="chart-note mr-0">
                        <span class="dot dot--green"></span>
                        <span>services</span>
                      </div>
                    </div>
                    <div class="chart-info__right">
                      <div class="chart-statis">
                        <span class="index incre">
                            <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                        <span class="label">products</span>
                      </div>
                      <div class="chart-statis mr-0">
                        <span class="index decre">
                            <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                        <span class="label">services</span>
                      </div>
                    </div>
                  </div>
                  <div class="recent-report__chart">
                    <canvas id="recent-rep-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="au-card chart-percent-card">
                <div class="au-card-inner">
                  <h3 class="title-2 tm-b-5">char by %</h3>
                  <div class="row no-gutters">
                    <div class="col-xl-6">
                      <div class="chart-note-wrap">
                        <div class="chart-note mr-0 d-block">
                          <span class="dot dot--blue"></span>
                          <span>products</span>
                        </div>
                        <div class="chart-note mr-0 d-block">
                          <span class="dot dot--red"></span>
                          <span>services</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="percent-chart">
                        <canvas id="percent-chart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE CONTAINER-->

</div>

</body>
</html>