<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title)%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.1.0/js/all.js', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'login.css', media: 'all' %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900", media: 'all' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
